<div class="flex flex-col w-screen h-screen bg-grey-very-light overflow-y-auto">
	<div
		class="flex flex-col container m-auto gap-32 px-16 md:px-56 py-16 text-center bg-white md:rounded-3xl shadow-lg"
	>
		<img class="img w-80 mx-auto" src="/assets/images/timeliness_logo.svg" alt="Timeliness Logo" />
		<div class="flex flex-col gap-16">
			<h1>Let's get you set up</h1>
			<div>
				<progress class="md:w-1/2" [value]="(selectedStep + 1)/(steps.length)" max="1"></progress>
				<span class="text-primary mx-auto">Step {{selectedStep + 1}}/{{steps.length}}</span>
			</div>

			<ng-container [ngSwitch]="steps[selectedStep].identifier">
				<div *ngSwitchCase="'calendar'" class="flex flex-col gap-16">
					<div>
						<h2 class="mx-auto">{{selectedStep + 1}}. Connect your calendar</h2>
						<p class="text-grey-dark md:w-2/3 mx-auto">
							In order to be able to determine your availability and therefore schedule your tasks optimally, Timeliness needs access to your calendar.
							<br><br>
							Timeliness will also use your calendar to create events marking your deadlines (indicated by the 📅 emoji) and of course specific events we call work units (indicated by the ⚙️ emoji), that block out time in your calendar, so you know when to work on which task.
							These events will be created in a separate calendar, that Timeliness will create, so they won't pollute your existing calendars.
						</p>
					</div>
					<div class="flex flex-row gap-16 justify-center">
						<div class="flex flex-col gap-16 text-center">
							<h4>Google Calendar</h4>
							<img class="w-32 mx-auto" src="/assets/images/google_calendar.png" alt="Google Calendar" />
							<app-google-calendar-settings (valid)="updateValidStatus('calendar', $event)"></app-google-calendar-settings>
						</div>
						<div class="flex flex-col filter grayscale gap-16 text-center">
							<h4>Microsoft Office Calendar</h4>
							<img
								class="w-32 mx-auto"
								src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZD0iTTMwIDdIMlYzLjE0M0ExLjI0OSAxLjI0OSAwIDAxMy4zMzMgMmgyNS4zMzRBMS4yNDkgMS4yNDkgMCAwMTMwIDMuMTQzeiIgZmlsbD0iIzAzNjRiOCIvPjxwYXRoIGQ9Ik0yIDIxaDEwdjlIMy4zMDlBMS4zMDkgMS4zMDkgMCAwMTIgMjguNjkxVjIxeiIgZmlsbD0iIzA2NGE4YyIvPjxwYXRoIGZpbGw9Im5vbmUiIGQ9Ik0wIDBoMzJ2MzJIMHoiLz48cGF0aCBmaWxsPSIjMDM2NGI4IiBkPSJNMiAxM2gxMHY5SDJ6Ii8+PHBhdGggZmlsbD0iIzAzNjRiOCIgZD0iTTExIDIxaDExdjlIMTF6Ii8+PHBhdGggZmlsbD0iIzAwNzhkNCIgZD0iTTIgNmgxMHY4SDJ6Ii8+PHBhdGggZmlsbD0iIzAwNzhkNCIgZD0iTTExIDEzaDExdjlIMTF6Ii8+PHBhdGggZmlsbD0iIzI4YThlYSIgZD0iTTExIDZoMTB2OEgxMXoiLz48cGF0aCBkPSJNMjEgMjFoOXY3LjY5MUExLjMwOSAxLjMwOSAwIDAxMjguNjkxIDMwSDIxdi05eiIgZmlsbD0iIzAwNzhkNCIvPjxwYXRoIGZpbGw9IiM1MGQ5ZmYiIGQ9Ik0yMSA2aDl2OWgtOXoiLz48cGF0aCBmaWxsPSIjMjhhOGVhIiBkPSJNMjEgMTRoOXY4aC05eiIvPjwvc3ZnPg=="
								alt="Microsoft Office Calendar"
							/>
							<button type="button" disabled class="mx-auto">Not available yet</button>
						</div>
					</div>
				</div>

				<div *ngSwitchCase="'timezone'" class="flex flex-col gap-16">
					<div>
						<h2 class="mx-auto">{{selectedStep + 1}}. Set your timezone</h2>
						<p class="text-grey-dark md:w-2/3 mx-auto">
							Please adjust your timezone if necessary.
						</p>
					</div>
					<app-timezone-select [shouldApplyUserTimezone]="true" class="mx-auto text-left !w-[45rem]"></app-timezone-select>
				</div>
						
				<div *ngSwitchCase="'timeslots'" class="flex flex-col gap-16">
					<div>
						<h2 class="mx-auto">{{selectedStep + 1}}. Set your general availability</h2>
						<p class="text-grey-dark md:w-2/3 mx-auto">
							Here you can add specific time slots for when you are generally available to work on tasks.
							Of course when Timeliness schedules your tasks your calendar availability is also taken into account. The purpose of this is so we don't schedule tasks while you are e.g. sleeping.
						</p>
					</div>
					<app-timespan-select class="mx-auto text-left md:w-1/3"></app-timespan-select>
				</div>
			</ng-container>		
		</div>
		<div class="flex flex-row justify-center gap-8">
			<button type="button" class="btn" [disabled]="selectedStep === 0" (click)="back()">
				<svg-icon
					class="img text-white transform rotate-90 fill-current"
					src="/assets/icons/icon-arrow-down.svg"
				></svg-icon>
				<span>Back</span>
			</button>
			<button *ngIf="selectedStep < steps.length - 1" type="button" class="btn" [disabled]="!steps[selectedStep].isDone" (click)="next()">
				<span>Next</span>
				<svg-icon
					class="img !m-0 !my-auto !ml-2 text-white transform -rotate-90 fill-current"
					src="/assets/icons/icon-arrow-down.svg"
				></svg-icon>
			</button>
			<button *ngIf="selectedStep === steps.length - 1" type="button" class="btn" (click)="finish()">
				<span>Let's go</span>
				<svg-icon
					class="img !m-0 !my-auto !ml-2 text-white transform -rotate-90 fill-current"
					src="/assets/icons/icon-arrow-down.svg"
				></svg-icon>
			</button>
		</div>
	</div>
</div>
