<div class="modal-container" (click)="close()">
    <div class="modal">
        <div class="modal-header">
            <input tabindex="1" type="text" class="h3 edit task-title" placeholder="Title">
            <div class="modal-controls">
                <button class="tiny-button"><img src="/assets/icons/icon-trash.svg" alt="Delete"></button>
                <button class="tiny-button no-background"><img src="/assets/icons/icon-exit.svg" alt="Delete"></button>
            </div>
        </div>
        <label for="task-description">Description</label>
        <textarea tabindex="2" type="textarea" id="task-description" class="task-description edit scroller" rows="5" placeholder="Describe your task here"></textarea>
    </div>
</div>