<div class="dashboard-container">
    <div class="dashboard-container main">
        <div class="dashboard-header">
            <h2 class="next-up-title">Next up</h2>
            <button class="large">
                <img src="/assets/icons/icon-plus.svg" />New task
            </button>
        </div>
        <ul class="next-up scroller">
            <li>
                <app-work-unit-card></app-work-unit-card>
            </li>
            <li>
                <app-work-unit-card></app-work-unit-card>
            </li>
        </ul>
        <h2 class="upcoming-work-units-title">Upcoming work units</h2>
        <ul class="upcoming-work-units-list scroller">
            <li>
                <span class="date-spacer">Tomorrow</span>
                <app-work-unit-upcoming></app-work-unit-upcoming>
            </li>
            <li>
                <app-work-unit-upcoming></app-work-unit-upcoming>
            </li>
            <li>
                <app-work-unit-upcoming></app-work-unit-upcoming>
            </li>
            <li>
                <app-work-unit-upcoming></app-work-unit-upcoming>
            </li>
            <li>
                <app-work-unit-upcoming></app-work-unit-upcoming>
            </li>
            <li>
                <app-work-unit-upcoming></app-work-unit-upcoming>
            </li>
            <li>
                <app-work-unit-upcoming></app-work-unit-upcoming>
            </li>
            <li>
                <app-work-unit-upcoming></app-work-unit-upcoming>
            </li>
            <li>
                <app-work-unit-upcoming></app-work-unit-upcoming>
            </li>
            <li>
                <app-work-unit-upcoming></app-work-unit-upcoming>
            </li>
            <li>
                <app-work-unit-upcoming></app-work-unit-upcoming>
            </li>
        </ul>
    </div>
    <div class="dashboard-container deadlines">
        <a [routerLink]="[{ outlets: { modal: ['task'] } }]">
            <h2>Upcoming deadlines</h2>
        </a>
        <ul class="deadline-list scroller">
            <li>
                <span class="date-spacer">26 February</span>
                <app-deadline></app-deadline>
            </li>
            <li>
                <span class="date-spacer">1 March</span>
                <app-deadline></app-deadline>
            </li>
        </ul>
    </div>
    <router-outlet name="modal"></router-outlet>
</div>
