<div class="dashboard-container">
    <div class="dashboard-container main">
        <h2 class="next-up-title">Next up</h2>
        <ul class="next-up scroller">
            <li>
                <app-work-unit></app-work-unit>
            </li>
            <li>
                <app-work-unit></app-work-unit>
            </li>
        </ul>
        <h2 class="upcoming-deadlines-title">Upcoming deadlines</h2>
        <ul>
            <li>
                <span class="date-spacer">Tomorrow</span>
            </li>
        </ul>
    </div>
    <div class="dashboard-container deadlines">
        <h2>Upcoming deadlines</h2>
        <ul class="deadline-list scroller">
            <li>
                <span class="date-spacer">26 February</span>
                <app-deadline></app-deadline>
            </li>
            <li>
                <span class="date-spacer">1 March</span>
                <app-deadline></app-deadline>
            </li>
        </ul>
    </div>
</div>
