<div class="dashboard-container">
    <div class="dashboard-container main">
        <h2>Next up</h2>
    </div>
    <div class="dashboard-container deadlines">
        <h2>Upcoming deadlines</h2>
        <ul class="deadline-list">
            <li>
                <span class="date-spacer">26 February</span>
                <app-deadline></app-deadline>
            </li>
            <li>
                <span class="date-spacer">1 March</span>
                <app-deadline></app-deadline>
            </li>
        </ul>
    </div>
</div>
