@import '../../../variables.scss';

.dashboard-container {
	display: grid;
	grid-template-columns: 1fr minmax(45rem, 30%);

	.dashboard-container {
		padding-top: 6rem;

		::ng-deep {
			button {
				&.prev {
					left: -4.5rem;
				}
			}
		}
	}

	.dashboard-header {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		margin-bottom: 2rem;
	}

	.main {
		padding-top: 6rem;
		min-width: 0;
		height: 100vh;
		display: flex;
		flex-direction: column;

		.wrapper {
			margin: 0 8rem 0 8rem;
		}

		.padding-wrapper {
			padding-left: 8rem;
			padding-right: 4rem;
		}

		.next-up {
			display: flex;
			flex-direction: row;

			li {
				margin-right: 5rem;
			}
		}

		img.next-up-finished {
			height: 28rem;
			margin: auto;
		}

		.upcoming-work-units-header {
			margin-top: 8rem;
			display: flex;
			flex-flow: row;
			justify-content: space-between;

			.upcoming-work-units-title {
				margin: auto 0;
			}

			.filters {
				.filter {
					margin-left: 1.5rem;

					.img {
						width: 1.6rem;
						vertical-align: bottom;
					}
				}
			}
		}

		.upcoming-work-units-list {
			overflow-y: auto;

			.date-group {
				background-color: $color-white;
				border-radius: 1.5rem;
				padding: 2rem;
				margin-top: 4rem;
				margin-bottom: 4rem;
				box-shadow: $box-shadow;

				.date-spacer {
					padding: 0 1rem;
				}
			}
		}
	}

	.lower-dashboard {
		display: flex;
		flex-flow: row;
		flex: 1;
		height: 100%;
		position: relative;
		overflow: hidden;
		margin-right: 8rem;

		@media (max-width: 1399.98px) {
			flex-flow: column;
		}

		.upcoming-workunits {
			width: 50%;
			display: flex;
			flex-flow: column;
			height: 100%;

			@media (max-width: 1399.98px) {
				height: 50%;
				width: 100%;
			}
		}

		.section-stats {
			margin-top: 8rem;
			padding-left: 4rem;
			width: 50%;
			height: 100%;
			
			@media (max-width: 1399.98px) {
				height: 50%;
				width: 100%;
			}

			.grid {
				display: grid;
				gap: 4rem;
				margin-top: 4rem;

				&.widgets-small {
					grid-template-columns: 1fr 1fr;
				}

				&.widgets-large {
					grid-template-columns: 1fr;
				}

				.info {
					font-size: 2.8rem;
					font-weight: bold;
				}
		
				.title {
					margin-top: 1rem;
					font-size: 1.8rem;
				}

				.img {
					display: inline-block;
					width: 1.6rem;
					margin-right: 0.5rem;
				}

				.simple-widget {
					background-color: $color-pastelle-green;
					color: $color-pastelle-green-dark;
					fill: $color-pastelle-green-dark;

					.info {
						font-size: 3.8rem;
					}
				}

				.large-widget {
					color: $color-primary;
					fill: $color-primary;
					background-color: $color-primary-pastelle;

					::ng-deep.content {
						display: flex;
						flex-flow: row;
						justify-content: space-between;

						.left {
							margin: auto 0;
						}
	
						.progress {
							margin: auto 0;
							padding: 4rem 0;
						}
					}
				}
			}
		}
	}

	.deadlines {
		height: 100vh;
		display: flex;
		flex-direction: column;
		z-index: 2;
		background-color: $color-very-light-grey;

		.date-group {
			margin: 0 8rem;
			background-color: $color-white;
			padding: 2rem;
			box-shadow: $box-shadow;
			border-radius: 1.5rem;
			margin-bottom: 4rem;
		}

		.list-message {
			margin: 0 8rem;

			span {
				font-size: 1.8rem;
				color: $color-tertiary;

				&.big {
					font-size: 2.2rem;
					font-weight: bold;
				}
			}
		}

		h2 {
			margin: 0 8rem 2rem 8rem;
		}
	}

	.date-spacer {
		font-size: 2.2rem;
		color: $color-tertiary;
	}

	.deadline-list {
		overflow-y: auto;
	}
}
