@import '../../../../variables.scss';

.modal-container {
	background-color: rgba(0, 0, 0, 0.8);
	opacity: 1;
	z-index: 10;
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 95rem;

	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 1rem;

	z-index: 11;
	position: absolute;
	background-color: white;

	input,
	textarea {
		padding: 0.8rem 1.5rem;
	}

	textarea {
		width: 100%;
	}

	label {
		font-size: 1.4rem;
		padding: 0.8rem 1.5rem;
	}

	.wrapper {
		padding: 4rem 4.8rem 4rem 4rem;
	}

	.task-description,
	input {
		font-size: 1.8rem;
	}

	.task-title {
		width: 80%;
		font-size: 2.4rem;
		padding: 0.8rem 1.5rem;
		font-weight: bold;
	}

	.modal-header {
		display: flex;
		margin-bottom: 2rem;

		.modal-controls {
			display: flex;
			flex: 1;
			justify-content: space-between;
			margin: auto 0;

			.tiny-button {
				margin-left: 2rem;
			}

			.dangerous-controls {
				display: flex;
				flex-flow: row;
				margin-left: 0;
				margin-right: 2rem;
			}
		}
	}

	.row {
		margin-top: 2rem;
		display: flex;
		flex-flow: row;
		justify-content: space-between;

		.workload {
			padding: 0 4rem;

			.workload-time {
				display: flex;
				flex-flow: row;
			}
		}

		.priority {
			label {
				padding-left: 0;
			}

			input {
				margin-top: 1.5rem;
				padding: 0.6rem 0;
				width: 20rem;
				background: linear-gradient(90deg, $color-green 0%, $color-yellow 50%, $color-red 100%);
			}
		}

		.progress {
			width: 100%;

			.labels {
				display: flex;
				flex-flow: row;
				justify-content: space-between;

				.progress-value {
					padding-right: 0;
					margin: 0;
				}
			}

			.progress-container {
				display: flex;
				padding: 0.2rem 0.2rem;
				background-color: $color-primary;
				border-radius: 2.5rem;
				margin-left: 1.4rem;
			}
		}
	}

	.workunits-section {
		padding: 0 4.8rem 0 4rem;
	}

	.workunits-list {
		display: flex;
		flex-flow: row;
		margin-left: 1.5rem;

		li {
			margin-right: 2rem;
		}
	}

	.modal-footer {
		margin-top: 4rem;
		display: flex;
		flex-flow: row;
		justify-content: flex-end;
		padding: 2rem 4rem 4rem 4rem;

		.btn {
			.img {
				width: 1.3rem;
			}
		}
	}
}
