<div class="modal-container" @modalBackground *ngIf="modalBackground" (click)="close()"></div>
<form [formGroup]="editTask" class="modal" @flyInOut *ngIf="loaded" (ngSubmit)="save()">
	<div class="wrapper">
		<div class="modal-header">
			<input tabindex="1" type="text" class="h3 edit task-title" placeholder="Title" formControlName="name" />
			<div class="modal-controls">
				<div class="dangerous-controls">
					<button class="tiny-button no-background" [disabled]="!editTask.dirty || isNew" (click)="undo()">
						<svg-icon class="img" src="/assets/icons/icon-undo.svg" alt="Undo"></svg-icon>
					</button>
					<button class="tiny-button" [disabled]="!task" (click)="delete()">
						<svg-icon class="img" src="/assets/icons/icon-trash.svg" alt="Delete"></svg-icon>
					</button>
				</div>
				<button class="tiny-button no-background" (click)="close()">
					<svg-icon class="img" src="/assets/icons/icon-exit.svg" alt="Exit"></svg-icon>
				</button>
			</div>
		</div>
		<label for="task-description">Description</label>
		<textarea
			tabindex="2"
			type="textarea"
			id="task-description"
			class="task-description edit scroller"
			rows="5"
			placeholder="Describe your task here"
			formControlName="description"
		></textarea>
		<div class="row">
			<div class="due-date">
				<label for="due-date">Due date</label>
				<input id="due-date" type="datetime-local" class="edit" tabindex="3" formControlName="dueAt" />
			</div>
			<div class="workload">
				<label for="workload-hour">Workload</label>
				<ng-select class="edit" id="workload-hour" formControlName="workload" tabindex="4">
					<ng-option *ngFor="let duration of durations" [value]="duration.milliseconds">{{
						duration.toString()
					}}</ng-option>
				</ng-select>
			</div>
			<div class="priority">
				<label for="priority">Priority</label>
				<input
					id="priority"
					class="slider"
					type="range"
					min="1"
					max="3"
					step="1"
					value="2"
					formControlName="priority"
					tabindex="5"
				/>
			</div>
		</div>
		<div class="row" *ngIf="task">
			<div class="progress">
				<div class="labels">
					<label for="modal-progress">Progress</label>
					<label class="progress-value">{{ getProgress(task) }}%</label>
				</div>
				<div class="progress-container">
					<progress
						id="modal-progress"
						class="large"
						max="100"
						value="0"
						[value]="getProgress(task)"
					></progress>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="task" class="workunits-section">
		<label>Workunits</label>
		<app-slider [showButtons]="task.workUnits.length > 2">
			<ul class="workunits-list">
				<li *ngFor="let workUnit of task.workUnits; let i = index">
					<div class="work-unit small" [class.done]="workUnit.isDone">
						<div class="card-header">
							<h3 class="truncate-text">Unit {{ i + 1 }}/{{ task.workUnits.length }}</h3>
						</div>
						<div class="card-sections">
							<div class="card-section infos">
								<div
									class="info-segment"
									[class.red]="workUnit.scheduledAt.date.end.toDate() <= today && !workUnit.isDone"
								>
									<div
										*ngIf="
											workUnit.scheduledAt.date.start.toDate().getDate() === today.getDate();
											then todayThen;
											else todayElse
										"
									></div>
									<ng-template #todayThen>
										<span
											*ngIf="
												workUnit.scheduledAt.date.start.toDate() < today &&
												workUnit.scheduledAt.date.end.toDate() > today
											"
										>
											Now
										</span>
										<span
											*ngIf="
												workUnit.scheduledAt.date.start.toDate() > today ||
												workUnit.scheduledAt.date.end.toDate() < today
											"
											>Today
										</span>
									</ng-template>
									<ng-template #todayElse>
										<span>{{ workUnit.scheduledAt.date.start.toDate().toLocaleDateString() }}</span>
									</ng-template>
									<span>
										{{
											workUnit.scheduledAt.date.start.toDate().toLocaleTimeString([], {
												hour: '2-digit',
												minute: '2-digit'
											})
										}}
										-
										{{
											workUnit.scheduledAt.date.end.toDate().toLocaleTimeString([], {
												hour: '2-digit',
												minute: '2-digit'
											})
										}}
										• {{ workUnit.workload.toDuration(1).toString() }}
									</span>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<button
								class="btn with-border"
								*ngIf="!workUnit.isDone"
								(click)="rescheduleWorkUnit(task, i)"
							>
								<svg-icon class="img" src="/assets/icons/icon-time.svg"></svg-icon>
								<span>Reschedule</span>
							</button>
							<button
								class="btn with-border"
								[class.icon-only]="workUnit.isDone"
								title="{{ workUnit.isDone ? 'Mark as un-done' : 'Mark as done' }}"
								(click)="markWorkUnitAsDone(task, i, !workUnit.isDone)"
							>
								<svg-icon class="img" src="/assets/icons/icon-check.svg"></svg-icon>
								<span *ngIf="!workUnit.isDone">Done</span>
							</button>
						</div>
					</div>
				</li>
			</ul>
		</app-slider>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn large save" [disabled]="!editTask.valid || !editTask.dirty">
			<svg-icon class="img" src="/assets/icons/icon-save.svg"></svg-icon>
			<span>Save</span>
		</button>
	</div>
</form>
