<div class="grid widgets-large">
	<app-stats class="large-widget"
			   [class.loading]="loadingPlan">
		<ng-container *ngIf="!loadingPlan">
			<div class="left">
				<span class="info">Your plan today</span>
				<span class="title">
					<ng-container *ngIf="workUnitsToComplete > 0">
						{{ workUnitsCompleted }} out of {{ workUnitsToComplete }} work unit{{workUnitsToComplete > 1 ? 's' : '' }} completed
					</ng-container>
					<ng-container *ngIf="workUnitsToComplete === 0">Nothing to do today. Have a nive day!</ng-container>
				</span>
			</div>
			<div class="progress">
				<app-circular-progress *ngIf="workUnitsToComplete > 0"
									   [progress]="(this.workUnitsCompleted / this.workUnitsToComplete) * 100"
									   [radius]="6.5">
				</app-circular-progress>
			</div>
		</ng-container>
		<ng-container *ngIf="loadingPlan">
			<div class="left">
				<span class="info loading-text loading">&nbsp;</span>
				<span class="title loading-text loading">&nbsp;</span>
			</div>
			<div class="progress">
				<app-circular-progress [loading]="true" [radius]="6.5"></app-circular-progress>
			</div>
		</ng-container>
	</app-stats>
</div>
<div class="grid widgets-small">
	<app-stats class="simple-widget">
		<span class="info">7</span>
		<span class="title">
			<svg-icon class="img"
					  src="/assets/icons/icon-clipboard-check.svg"></svg-icon>
			Tasks completed this week
		</span>
	</app-stats>
	<app-stats class="simple-widget">
		<span class="info">12</span>
		<span class="title">
			<svg-icon class="img"
					  src="/assets/icons/icon-check-multiple.svg"></svg-icon>
			Work units completed this week
		</span>
	</app-stats>
</div>