@import '../../../../variables.scss';

.dropdown {
	position: absolute;
	background-color: $color-white;
	box-shadow: $box-shadow;
	padding: 2rem;
	z-index: 15;
	border-radius: 1.5rem;

	.top {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		padding-bottom: 2rem;

		.today {
			font-size: 1.6rem;
		}

		.month-year {
			font-size: 1.6rem;
			text-align: center;
			margin: auto;
		}

		.navigation {
			display: flex;
			flex-flow: row;
			gap: 1rem;

			.previous-month {
				.img {
					transform: rotate(90deg);
				}
			}
	
			.next-month {
				.img {
					transform: rotate(270deg);
				}
			}
		}
	}

	.calendar {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		gap: 1rem;

		.date {
			font-size: 1.6rem;
			text-align: center;
			padding: 0.8rem 1.2rem;
			border-radius: 1rem;
			border: 1px solid transparent;
		}

		.day {
			cursor: pointer;
			user-select: none;
			transition: all 0.2s;

			&.active {
				background-color: $color-primary-pastelle;
				cursor: default;
			}

			&.today {
				border: 1px solid $color-primary;
			}

			&:hover:not(.active) {
				background-color: $color-light-grey;
			}
		}

		.weekday {
			color: $color-primary;
			font-weight: bold;
		}
	}
}

.date {
	padding: 2rem 0 0 0;

	::ng-deep {
		.ng-select {
			width: fit-content;
			margin: 0 auto;
		}

		.ng-select-container {
			&:hover {
				cursor: text;
			}
		}
	
		.ng-value {
			margin: 0 auto;
	
			span {
				font-size: 2.2rem !important;
			}
		}
	
		input {
			font-size: 2.2rem !important;
			cursor: text;
		}
	}
}
.input {
	padding: 0.8rem 1.5rem;
	cursor: pointer;
}