<div
	class="tag"
	draggable="true"
	[class.isFocused]="isFocused"
	[ngClass]="getColorClass(selectedColor, 'background')"
	@appear
>
	<span class="hashtag">#</span>
	<span
		class="tag-content"
		#input
		contenteditable="true"
		[textContent]="actualContent"
		(input)="logInput($event)"
		placeholder="Add a new tag"
	></span>
	<div *ngIf="isFocused" class="controls">
		<button class="btn small" [disabled]="!allowSave" (click)="save($event)">
			<svg-icon class="img" src="/assets/icons/icon-check.svg"></svg-icon>
		</button>
		<button class="btn small" [disabled]="new" (click)="delete($event)">
			<svg-icon class="img" src="/assets/icons/icon-exit.svg"></svg-icon>
		</button>
		<button class="btn small" (click)="toggleDropdown($event)">
			<svg-icon class="img" src="/assets/icons/icon-arrow-down.svg" [class.isOpen]="showDropdown"></svg-icon>
		</button>
	</div>
</div>
<div *ngIf="showDropdown" class="dropdown">
	<ul>
		<li *ngFor="let color of colorsAvailable" [ngClass]="getColorClass(color.key, 'border-hover')" [class.active]="selectedColor === color.key" (click)="assignColor($event, color.key)">
			<div class="color"></div>
			{{ color.name }}
		</li>
	</ul>
</div>
