<div
	class="tag"
	draggable="true"
	[class.isFocused]="isFocused"
	[ngClass]="getColorClass(selectedColor, 'background')"
>
	<span class="hashtag">#</span>
	<span
		class="tag-content"
		#input
		contenteditable="true"
		[textContent]="actualContent"
		(input)="logInput($event)"
		(focus)="textFocus($event)"
		placeholder="Add a new tag"
	></span>
	<div *ngIf="isFocused" class="controls">
		<button class="btn small" [disabled]="!allowSave" (click)="save($event)">
			<svg-icon class="img" src="/assets/icons/icon-check.svg"></svg-icon>
		</button>
		<button class="btn small" [disabled]="new" (click)="delete($event)">
			<svg-icon class="img" src="/assets/icons/icon-exit.svg"></svg-icon>
		</button>
		<button class="btn small" (click)="promoteToFirst($event)" *ngIf="!isFirst" title="Promote to first tag">
			<svg-icon class="img back-arrow" src="/assets/icons/icon-arrow.svg"></svg-icon>
		</button>
		<button class="btn small" (click)="toggleDropdown($event)" title="Change color">
			<svg-icon class="img" src="/assets/icons/icon-arrow-down.svg" [class.isOpen]="showColorDropdown"></svg-icon>
		</button>
	</div>
</div>

<div *ngIf="showColorDropdown" class="dropdown color-dropdown">
	<ul>
		<li
			*ngFor="let color of colorsAvailable"
			[ngClass]="getColorClass(color.key, 'border-hover')"
			[class.active]="selectedColor === color.key"
			(click)="assignColor($event, color.key)"
		>
			<div class="color"></div>
			{{ color.name }}
		</li>
	</ul>
</div>

<div *ngIf="showSuggestionDropdown && suggestions.length > 0" class="dropdown suggestion-dropdown scroller" #suggestionDropdown>
	<ul>
		<li
			*ngFor="let suggestion of suggestions"
			[ngClass]="getColorClass(suggestion.color, 'border-hover')"
			(click)="assignSuggestion(suggestion, $event)"
		>
			<div class="tag" [ngClass]="getColorClass(suggestion.color, 'background')" @appear>
				<span class="hashtag">#</span>
				<span class="tag-content" placeholder="Add a new tag">{{ suggestion.value }}</span>
			</div>
		</li>
	</ul>
</div>
