<form class="flex flex-col" [formGroup]="form">
	<label class="label inset" for="timezone">Maximum work unit duration</label>
	<span class="text-grey-dark text-base ml-6 mb-4">
		This setting determines the maximum duration of a single work unit. This represents how long you can work on a task before you have to take a break.
	</span>
	<ng-select
		formControlName="maxDuration"
		[clearable]="false"
		[dropdownPosition]="'top'"
		[virtualScroll]="true"
		(change)="change()"
	>
		<ng-option *ngFor="let option of options" [value]="option.toNanoseconds()">
			<span class="text-lg">
				{{ option }}
			</span>
		</ng-option>
	</ng-select>
</form>
