<div class="flex flex-col gap-44 md:px-20 justify-between transition-all">
	<div class="mx-auto text-center">
		<h2 class="mx-auto">
			<ng-container *ngIf="!loading">Sign in to continue</ng-container>
			<ng-container *ngIf="loading">Signing you in...</ng-container>
		</h2>
		<div *ngIf="!loading" class="mt-16 mx-auto relative">
			<div
				id="g_id_onload"
				data-client_id="570716917094-tq9jjv09rtgdgqe60rd9hvnvb143cf3p.apps.googleusercontent.com"
				data-context="signin"
				data-callback="signInWithGoogleToken"
				data-auto_prompt="false"
			></div>

			<div
			class="g_id_signin absolute inset-center"
			data-type="standard"
			data-shape="pill"
			data-theme="outline"
			data-text="signin_with"
			data-size="large"
			data-logo_alignment="left"
			></div>
		</div>
		<svg-icon
				*ngIf="loading"
				class="block m-auto text-primary w-24 my-auto animate-spin-slow"
				src="/assets/icons/icon-loading.svg"
			></svg-icon>
	</div>

	<div class="flex flex-row w-full gap-4 justify-center">
		<a href="https://timeliness.app" class="flex flex-row">
			<svg-icon class="block m-auto w-12 transition-all" src="/assets/icons/icon-logout.svg"></svg-icon>
			<span class="my-auto">Exit app</span>
		</a>
	</div>
</div>
