<div class="flex flex-col md:w-[40rem] h-[20rem] gap-32 md:px-20 justify-between transition-all">
	<div class="mx-auto text-center">
		<h2 class="mx-auto">
			<ng-container *ngIf="!loading">Sign in to continue</ng-container>
			<ng-container *ngIf="loading">Signing you in...</ng-container>
		</h2>
		<div *ngIf="!loading" class="mt-8 mx-auto relative">
			<div class="mt-8 mx-auto absolute inset-center" #buttonContainer></div>
		</div>
		<svg-icon
				*ngIf="loading"
				class="block m-auto text-primary w-24 my-auto animate-spin-slow"
				src="/assets/icons/icon-loading.svg"
			></svg-icon>
	</div>

	<div class="flex flex-row w-full gap-4 justify-center">
		<a href="https://timeliness.app" class="flex flex-row">
			<svg-icon class="block m-auto w-12 transition-all" src="/assets/icons/icon-logout.svg"></svg-icon>
			<span class="my-auto">Exit app</span>
		</a>
	</div>
</div>
