<div class="circular"
	 [ngStyle]="{'width': radius * 2 + 'rem', 'height': radius * 2 + 'rem'}"
	 *ngIf="!loading">
	<div class="outer">
		<div class="inner">
			<div #ref>
				<ng-content></ng-content>
			</div>
			<div class="number"
				 *ngIf="ref.children.length === 0">
				<span>{{ progress.toFixed(0) }}%</span>
			</div>
		</div>
	</div>
	<svg xmlns="http://www.w3.org/2000/svg"
		 version="1.1"
		 [attr.width]="radius * 2 + 'rem'"
		 [attr.height]="radius * 2 + 'rem'">
		<circle [attr.cx]="radius + 'rem'"
				[attr.cy]="radius + 'rem'"
				[attr.r]="radius - 0.5 + 'rem'"
				[ngStyle]="{'stroke-dashoffset': 100 - progress}"
				pathLength="100"
				stroke-linecap="round" />
	</svg>
</div>
<div class="circular load"
	 *ngIf="loading"
	 [ngStyle]="{'width': radius * 2 + 'rem', 'height': radius * 2 + 'rem'}">
	 <div class="outer">
		<div class="inner loading">
			<div class="number">
				<span>&nbsp;</span>
			</div>
		</div>
	</div>
	<svg xmlns="http://www.w3.org/2000/svg"
		 version="1.1"
		 [attr.width]="radius * 2 + 'rem'"
		 [attr.height]="radius * 2 + 'rem'">
		<circle [attr.cx]="radius + 'rem'"
				[attr.cy]="radius + 'rem'"
				[attr.r]="radius - 0.5 + 'rem'"
				[ngStyle]="{'stroke-dashoffset': 100 - progress}"
				pathLength="100"
				stroke-linecap="round" />
	</svg>
</div>