<div *ngIf="isShowing" class="fixed w-screen z-20 h-screen bg-black opacity-30 top-0 left-0"></div>
<form
	*ngIf="isShowing"
	@modalFlyInOut
	class="
		!fixed
		inset-center
		z-30
		px-24
		pt-16
		flex flex-col
		gap-8
		md:gap-16
		w-screen
		h-screen
		md:w-auto md:h-auto md:grid
		overflow-y-auto
		md:overflow-visible
		bg-white
		md:rounded-3xl
		dark:bg-black
		shadow-lg
	"
>
	<svg-icon class="img w-16 md:w-24 mx-auto" src="/assets/images/timeliness_logo_small.svg"></svg-icon>
	<h2 class="mx-auto">Getting started: How does it work?</h2>
	<div class="flex flex-col gap-8 max-w-screen-md">
		<splide
			class="w-full"
			[options]="{
				type: 'slide',
				perPage: 1,
				perMove: 1,
				pagination: true
			}"
			[(selectedSlideIndex)]="slideIndex"
			(onInit)="onSplideInit($event)"
		>
			<splide-slide>
				<div class="flex flex-col gap-8 md:px-4">
					<h3>Creating a task</h3>
					<p class="text-lg text-grey-dark">
						Create a task by clicking the "Add task" button in the top right corner. Besides the usual
						fields you probably already know from other apps like name, description and tags in Timeliness
						you set a <b>due date and a workload</b>.
						<br />
						The workload is the amount of time you expect to spend on the task. It is impossible to
						determine this beforehand with great accuracy, but that's fine, just go for an estimate, as you
						can always refine this later.
						<br />
						<br />
						When you create a task, Timeliness will add an event to your calendar representing the due date
						(indicated by the 📅emoji). Also depending on your availability and workload Timeliness will add
						events to your calendar that block out time for you to work on your specific task.
						<br />
						These events are called "work units" (indicated by the ⚙️emoji in your calendar).
					</p>
				</div>
			</splide-slide>
			<splide-slide>
				<div class="flex flex-col gap-8 md:px-4">
					<h3>Work units</h3>
					<p class="text-grey-dark text-lg">
						Work units play a central role in Timeliness. They are not only the main way to track your
						progress through a tasks life cycle but also a way to portion larger tasks into 
						<b>smaller manageable chunks</b>.
						<br /><br>
						After a work unit event has ended, Timeliness will ask you to review the work unit and decide if you
						are done with it. You then <b>mark the work unit as done</b> and the duration of the work unit accounts towards the tasks progress.
						<br>
						You can also simply reschedule it, if you didn't manage to work on it. 
						<br>
						If you only worked on a part of the work unit, you mark it as done and enter the amount of time you worked on it.
						Timeliness will reschedule the work unit for another time.
					</p>
				</div>
			</splide-slide>
			<splide-slide>
				<div class="flex flex-col gap-8 md:px-4">
					<h3>Calendar features</h3>
					<p class="text-grey-dark text-lg">
						Having your tasks right inside your calendar is not only very helpful regarding visibility, but also very
						convenient for moving things around.
						<br>
						You will find all of the events, that Timeliness creates or moves <b>in a separate calendar</b>, that
						Timeliness already created for you, so they won't pollute your existing calendars.
					</p>
					<h4>
						So what exactly can you do?
					</h4>
					<div>
						<p class="text-lg text-grey-dark">You can...</p>
						<ul class="flex flex-col list-disc text-grey-dark mt-2 pl-16 gap-4">
							<li class="text-lg">
								↕️ <b>move work units and due dates</b> around as much as you like. They are all synced back
								to Timeliness.
							</li>
							<li class="text-lg">
								🔄 move more important events or work units on top of work units, wait a few seconds,
								and see them <b>automatically reschedule</b>.
							</li>
							<li class="text-lg">
								📅 move the tasks deadline event before its work unit events and see them automatically reschedule 
							</li>
							<li class="text-lg">
								↔️ move work units directly next to each other (or overlap them) as <b>merge them together</b>
								to one work unit.
							</li>
							<li class="text-lg">
								🚮 <b>delete work units</b>, which reduces the tasks workload or even <b>delete due dates</b> which
								simply deletes the task with all of its work units.
							</li>
						</ul>
					</div>
				</div>
			</splide-slide>
			<splide-slide>
				<div class="flex flex-col gap-8 md:px-4">
					<h3>Early Access</h3>
					<p class="text-grey-dark text-lg">
						Since we are still in early access expect to encounter bugs, problems or unfinished features.
						If you find a bug please tell us by clicking the feedback button in the bottom left corner.
					</p>
					<h3 class="mt-4">Tell us what you think</h3>
					<p class="text-grey-dark text-lg">
						We would love to hear about problems you encounter, as well as more general feedback regarding our
						apps features and capabilities. Also please tell us about any feature requests or ideas you have.
						<br />
						You can give us feedback by <b>clicking the feedback button</b> on the bottom left corner or by writing us at
						<a class="inline-block text-lg" href="mailto:hello@timeliness.app">hello@timeliness.app</a>.
					</p>
				</div>
			</splide-slide>
		</splide>
	</div>
	<div class="flex flex-row pb-16 pt-8 md:pt-0 gap-8 justify-between sticky md:relative bottom-0 z-20 bg-white">
		<button class="secondary my-0 mt-8" type="button" (click)="close()">Skip guide</button>
		<div class="flex flex-row gap-8">
			<button
				class="my-0 mt-8"
				[class.no-disabled]="slideIndex !== 0"
				type="button"
				(click)="previous()"
				[disabled]="slideOnTheMove || slideIndex === 0"
			>
				Previous
			</button>
			<button class="no-disabled my-0 mt-8" type="button" (click)="next()" [disabled]="slideOnTheMove">
				<ng-container *ngIf="slideIndex === numberOfSlides - 1">Alright, lets' go!</ng-container>
				<ng-container *ngIf="slideIndex !== numberOfSlides - 1">Next</ng-container>
			</button>
		</div>
	</div>
</form>
