<div
	*ngIf="!loading"
	class="work-unit"
	[class.no-description]="task.description === '' && task.name.length <= 11"
	[class.done]="task.workUnits[workUnitIndex].isDone"
	[class.small]="small"
	[ngClass]="getColorClass(tag ? tag.color : '', 'background')"
>
	<div class="card-header" [ngClass]="getColorClass(tag ? tag.color : '', 'color')">
		<a
			class="header-link"
			*ngIf="!small"
			[routerLink]="['task', task.id]"
			[queryParams]="{ workUnit: task.workUnits[workUnitIndex].id }"
		>
			<h3 class="truncate-text">{{ task.name }}</h3>
		</a>
		<h3 *ngIf="small" class="truncate-text">Unit {{ this.workUnitIndex + 1 }}/{{ task.workUnits.length }}</h3>
		<app-dropdown [colorClasses]="getColorClass(tag ? tag.color : '', 'color')">
			<a
				*ngIf="!small"
				class="flex flex-row px-6 py-4 whitespace-nowrap hover:no-underline rounded-lg hover:bg-grey-very-light"
				[routerLink]="['task', task.id]"
				[queryParams]="{ workUnit: task.workUnits[workUnitIndex].id }"
			>
				<svg-icon class="w-6 mr-2 flex-shrink-0" src="/assets/icons/icon-edit.svg"></svg-icon>
				<span>Edit task</span>
			</a>
			<a
				*ngIf="
					!task.workUnits[workUnitIndex].isDone &&
					task.workUnits[workUnitIndex].scheduledAt.date.end.toDate().getTime() < today.getTime()
				"
				class="flex flex-row px-6 py-4 whitespace-nowrap hover:no-underline rounded-lg hover:bg-grey-very-light"
				(click)="markWorkUnitAsDone(task, workUnitIndex, true, true)"
			>
				<svg-icon class="w-6 mr-2 flex-shrink-0" src="/assets/icons/icon-check.svg"></svg-icon>
				<span>Mark work unit done partly</span>
			</a>
		</app-dropdown>
	</div>
	<div class="card-sections">
		<div class="card-section infos">
			<span *ngIf="!small">Unit {{ this.workUnitIndex + 1 }}/{{ task.workUnits.length }}</span>
			<span *ngIf="small"></span>
			<div class="info-segment">
				<ng-container [ngSwitch]="scheduleState">
					<span *ngSwitchCase="SCHEDULE_TYPE.Now">Right now • ends in {{ durationToEnd() }}</span>
					<span *ngSwitchCase="SCHEDULE_TYPE.Future">
						<ng-container
							*ngIf="today.isSameDay(task.workUnits[workUnitIndex].scheduledAt.date.start.toDate())"
						>
							Today • in {{ durationToStart() }}
						</ng-container>
						<ng-container
							*ngIf="!today.isSameDay(task.workUnits[workUnitIndex].scheduledAt.date.start.toDate())"
						>
							{{
								task.workUnits[workUnitIndex].scheduledAt.date.start.toDate().getCloseToTodayString() ??
									task.workUnits[workUnitIndex].scheduledAt.date.start
										.toDate()
										.toLocaleDateString([], {
											weekday: 'short',
											month: 'long',
											day: '2-digit',
											year: 'numeric'
										})
							}}
						</ng-container>
					</span>
					<span
						*ngSwitchCase="SCHEDULE_TYPE.Past"
						[class.font-bold]="
							task.workUnits[workUnitIndex].scheduledAt.date.end.toDate() <= today &&
							!task.workUnits[workUnitIndex].isDone
						"
					>
						{{
							task.workUnits[workUnitIndex].scheduledAt.date.start.toDate().getCloseToTodayString() ??
								task.workUnits[workUnitIndex].scheduledAt.date.start.toDate().toLocaleDateString([], {
									weekday: 'short',
									month: 'long',
									day: '2-digit',
									year: 'numeric'
								})
						}}
						<ng-container *ngIf="!task.workUnits[workUnitIndex].isDone">
							• ended {{ durationToEnd() }} ago
						</ng-container>
					</span>
				</ng-container>

				<span>
					{{
						task.workUnits[workUnitIndex].scheduledAt.date.start.toDate().toLocaleTimeString([], {
							hour: '2-digit',
							minute: '2-digit'
						})
					}}
					-
					{{
						task.workUnits[workUnitIndex].scheduledAt.date.end.toDate().toLocaleTimeString([], {
							hour: '2-digit',
							minute: '2-digit'
						})
					}}
					• {{ task.workUnits[workUnitIndex].workload.toDuration(1).toString() }}
				</span>
			</div>
			<div class="info-segment">
				<div class="labels">
					<span>Unit progress</span>
					<span>{{ progress.toFixed() }}%</span>
				</div>
				<div class="progress-container" [ngClass]="getColorClass(tag ? tag.color : '', 'color')">
					<progress max="100" value="{{ progress }}"></progress>
				</div>
			</div>
		</div>
		<div *ngIf="!small" class="card-section description scroller inverse">
			{{ task.description }}
		</div>
	</div>
	<div class="card-footer">
		<button
			class="btn with-border"
			*ngIf="!task.workUnits[workUnitIndex].isDone"
			[ngClass]="getColorClass(tag ? tag.color : '', 'color')"
			(click)="rescheduleWorkUnit(task)"
		>
			<svg-icon class="img" src="/assets/icons/icon-time.svg"></svg-icon>
			<span>Reschedule</span>
		</button>
		<button
			class="btn with-border no-background"
			[class.icon-only]="task.workUnits[workUnitIndex].isDone"
			title="{{ task.workUnits[workUnitIndex].isDone ? 'Mark as un-done' : 'Mark as done' }}"
			[ngClass]="getColorClass(tag ? tag.color : '', 'color')"
			(click)="markWorkUnitAsDone(task, workUnitIndex, !task.workUnits[workUnitIndex].isDone)"
		>
			<svg-icon class="img" src="/assets/icons/icon-check.svg"></svg-icon>
			<span *ngIf="!task.workUnits[workUnitIndex].isDone">Done</span>
		</button>
	</div>
</div>
<div *ngIf="loading" class="work-unit no-description loading" [class.small]="small">
	<div class="card-header loading-component">
		<div *ngIf="!small">
			<h3 class="truncate-text"></h3>
		</div>
		<h3 *ngIf="small" class="truncate-text loading-component">&nbsp;</h3>
	</div>
	<div class="card-sections">
		<div class="card-section infos">
			<span *ngIf="!small">&nbsp;</span>
			<span *ngIf="small">&nbsp;</span>
			<div class="info-segment">
				<span class="loading-component">&nbsp;</span>
				<span class="loading-component">&nbsp;</span>
			</div>
			<div class="info-segment">
				<div class="progress-container loading-component"></div>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<div class="btn with-border loading-component">
			<span>&nbsp;</span>
		</div>
		<div class="btn with-border no-background loading-component">
			<span>&nbsp;</span>
		</div>
	</div>
</div>
