@import '../../../../variables.scss';

:host {
	position: relative;
	display: block;

	::ng-deep ul {
		overflow: hidden;
		position: relative;

		li {
			position: relative;

			&:last-child {
				width: 100%;
				margin-right: 100% !important;
			}
		}
	}
}

button {
	font-size: 3.2rem;
	color: $color-primary;
	background: transparent;
	position: absolute;
	top: calc(50% - 3.2rem);
	visibility: hidden;

	&.active {
		visibility: visible;
	}
}

button:hover {
	color: $color-primary;
}

button.prev {
	left: -3.5rem;
}
button.next {
	right: -4.5rem;
}
button.prev::after {
	content: '\276E';
}
button.next::after {
	content: '\276F';
}
