<div *ngIf="!loading" class="deadline" [class.done]="task.isDone" routerLinkActive="active">
	<div class="time dark:text-white">
		<span>
			{{
				task.dueAt.date.start.toDate().toLocaleTimeString([], {
					hour: '2-digit',
					minute: '2-digit'
				})
			}}
		</span>
	</div>
	<div class="w-2 mx-9 rounded-full" [ngClass]="getColorClass(tag ? tag.color: '', 'background')"></div>
	<div class="deadline-info">
		<a
			class="deadline-name truncate-text text-underline text-black"
			title="{{ task.name }}"
			[routerLink]="[{ outlets: { modal: ['task', task.id] } }]"
		>
			{{ task.name }}
		</a>
		<span class="flex flex-row gap-2 flex-wrap">
			<div *ngIf="task.notScheduled !== 0" class="sm-tag bg-pink flex flex-row relative">
				<span class="text-red">{{task.notScheduled.toDuration(DURATION.Nanoseconds)}} not scheduled</span>
				<span class="absolute flex flex-shrink-0 h-3 w-3 -right-1">
					<span class="animate-ping absolute inline-flex flex-shrink-0 h-full w-full rounded-full bg-red opacity-75"></span>
					<span class="relative inline-flex rounded-full flex-shrink-0 h-3 w-3 bg-red"></span>
				</span>
			</div>
			<div *ngIf="task.dueAt.date.start.toDate().getTime() < now.getTime() && !task.isDone" class="sm-tag bg-pink flex flex-row relative">
				<span class="text-red">{{ (now.getTime() - task.dueAt.date.start.toDate().getTime()).toDuration()}} overdue</span>
				<span class="absolute flex flex-shrink-0 h-3 w-3 -right-1">
					<span class="animate-ping absolute inline-flex flex-shrink-0 h-full w-full rounded-full bg-red opacity-75"></span>
					<span class="relative inline-flex rounded-full flex-shrink-0 h-3 w-3 bg-red"></span>
				</span>
			</div>
			<div class="sm-tag grey-background">
				{{ getProgress(task) }}% done
			</div>
			<div class="sm-tag grey-background">
				<div *ngIf="task.isDone; then thenBlock; else elseBlock"></div>
				<ng-template #thenBlock>completed</ng-template>
				<ng-template #elseBlock>{{ getRemainingWorkload(task) }} of work left</ng-template>
			</div>
			<span class="sm-tag" [ngClass]="getColorClass(tag ? tag.color: '', 'background')" *ngFor="let tag of tags">
				#{{ tag.value }}
			</span>
		</span>
	</div>
</div>
<div *ngIf="loading" class="deadline">
	<div class="time !w-20 rounded-full">
		<span>
			&nbsp;
		</span>
	</div>
	<div class="deadline-spacer loading"></div>
	<div class="deadline-info">
		<a class="deadline-name truncate-text text-underline loading rounded-full w-3/4">&nbsp;</a>
		<span class="flex flex-row gap-2 flex-wrap">
			<div class="sm-tag w-32 grey-background">&nbsp;</div>
			<div class="sm-tag w-32 grey-background">&nbsp;</div>
			<div class="sm-tag w-32 grey-background">&nbsp;</div>
		</span>
	</div>
</div>
