@import '../../../../variables.scss';

.deadline {
	display: flex;
	flex-direction: row;
	margin-top: 1rem;
	padding-top: 1rem;
	transition: all 0.2s ease-out;
	cursor: default;

	&.done {
		opacity: 0.5;
	}

	&:hover,
	&.active {
		background-color: $color-white;

		.actions {
			opacity: 1;
		}
	}

	.deadline-spacer {
		padding: 0 2px;
		border-radius: 25px;
		margin: 0 2rem;
		background-color: $color-primary-pastelle;
	}

	.time {
		margin: auto 0;

		span {
			font-size: 2rem;
			font-weight: 500;
		}
	}

	.deadline-info {
		display: block;
		overflow: hidden;
		flex: 1;

		.deadline-name {
			font-size: 2rem;
			font-weight: 500;
			margin-bottom: -0.1rem;
		}

		.subtitle {
			margin-top: -0.1rem;
		}
	}

	.actions {
		transition: all 0.2s ease-out;
		opacity: 0;
		margin: auto 0;
		padding-left: 1rem;
	}
}
