<div class="w-full flex flex-col md:flex-row gap-16" *ngIf="user">
	<div *ngFor="let connection of user.googleCalendarConnections" class="flex flex-col">
		<div class="mb-8 text-left">
			<div class="flex flex-col">
				<span class="label font-bold mr-auto">Connection</span>
				<h4 class="text-lg text-primary">{{ connection.email }}</h4>
			</div>

			<ng-container *ngIf="connection.status === CONNECTION_STATUS.Active">
				<div class="text-black mt-4 bg-grey-very-light rounded-2xl p-6">
					<span *ngIf="calendars.get(connection.id)?.length ?? 0 > 0" class="label mb-2 text-grey-dark">
						Calendars indicating your availability
					</span>
					<ng-container *ngIf="!connectionLoading.get(connection.id)">
						<div *ngFor="let calendar of calendars.get(connection.id)" class="flex flex-row">
							<input
								[id]="calendar.calendarId"
								class="mr-4 my-auto"
								type="checkbox"
								[checked]="calendar.isActive"
								(change)="
									calendar.isActive = !calendar.isActive;
									saveChanges(connection.id, calendars.get(connection.id) ?? [])
								"
							/>
							<label [for]="calendar.calendarId" class="text-base text-black">{{ calendar.name }}</label>
						</div>
					</ng-container>
					<ng-container *ngIf="connectionLoading.get(connection.id)">
						<div *ngFor="let calendar of [1, 2, 3, 4, 5]" class="flex flex-row group hover:cursor-default">
							<div class="flex flex-row flex-wrap gap-4">
								<span
									class="
										sm-tag
										text-base
										grey-background
										px-8
										py-1
										border border-white
										rounded-full
										loading
										w-72
									"
								>
									&nbsp;
								</span>
							</div>
						</div>
					</ng-container>
				</div>
			</ng-container>
			<ng-container *ngIf="connection.status === CONNECTION_STATUS.Inactive">
				<div class="flex flex-row text-ice-blue-dark mt-4 bg-ice-blue rounded-2xl p-6">
					<p>ℹ️</p>
					<p>
						When granting Timeliness access to Google Calendar,
						<br />
						make sure to check all permission checkboxes.
					</p>
				</div>
			</ng-container>
			<ng-container *ngIf="connection.status === CONNECTION_STATUS.Expired">
				<div class="flex flex-row text-red mt-4 bg-red-light rounded-2xl p-6">
					<p>❗️</p>
					<p>
						It seems like your Google Calendar connection expired.
						<br />
						Please click the Google button below to reconnect.
					</p>
				</div>
			</ng-container>
			<ng-container *ngIf="connection.status === CONNECTION_STATUS.MissingScopes">
				<div class="flex flex-row text-red mt-4 bg-red-light rounded-2xl p-6">
					<p>❗️</p>
					<p>
						We are missing permissions to access your Google Calendar.
						<br />
						These are needed in order for Timeliness to work correctly.
						<br />
						Please make sure to select all checkboxes, when prompted.
						<br />
						<br />
						Please click the Google button below to give the missing permissions.
					</p>
				</div>
			</ng-container>
		</div>
		<div class="flex flex-row justify-between flex-wrap md:flex-nowrap gap-8">
			<button
				class="mr-auto with-border !border-none shadow !px-5 !py-5 hover:shadow-md transition-all"
				role="button"
				[ngSwitch]="connection.status"
				(click)="connect(connection.id)"
				*ngIf="connection.status !== CONNECTION_STATUS.Active"
			>
				<svg-icon class="w-8 my-auto mr-6" src="/assets/icons/google.svg"></svg-icon>
				<span class="my-auto font-google font-medium text-grey-google">
					<ng-container *ngSwitchCase="CONNECTION_STATUS.Inactive">
						Grant access to Google Calendar
					</ng-container>
					<ng-container *ngSwitchCase="CONNECTION_STATUS.Expired">Reconnect Google Calendar</ng-container>
					<ng-container *ngSwitchCase="CONNECTION_STATUS.MissingScopes">
						Grant missing permissions to Google Calendar
					</ng-container>
					<ng-container *ngSwitchDefault>Reconnect Google Calendar</ng-container>
				</span>
			</button>
			<button
				*ngIf="connection.status !== CONNECTION_STATUS.Inactive"
				role="button"
				class="danger h-full"
				(click)="disconnect(connection.id)"
			>
				<svg-icon class="block !my-auto mr-2 !w-8" src="/assets/icons/icon-trash.svg"></svg-icon>
				<span class="my-auto">Disconnect</span>
			</button>
		</div>
	</div>
	<button
		*ngIf="user.googleCalendarConnections?.length === 0 || allowMoreThanOneConnection"
		class="!mr-auto !rounded-full flex-shrink-0 w-16 h-16 p-0"
		role="button"
		(click)="connect()"
	>
		<svg-icon class="img !m-auto" src="/assets/icons/icon-plus.svg"></svg-icon>
	</button>
</div>
