<div class="w-full flex flex-col md:flex-row gap-16" *ngIf="user">
	<div *ngFor="let connection of user.googleCalendarConnections" class="flex flex-col">
		<div class="mb-8 text-left">
			<h4 class="text-lg text-primary">Connection {{ connection.id }}</h4>
			<span *ngIf="calendars.get(connection.id)?.length ?? 0 > 0" class="label mt-4 text-grey-dark">
				Calendars indicating your availability
			</span>
			<div *ngFor="let calendar of calendars.get(connection.id)" class="flex flex-row">
				<input
					[id]="calendar.calendarId"
					class="mr-4 my-auto"
					type="checkbox"
					[checked]="calendar.isActive"
					(change)="calendar.isActive = !calendar.isActive; saveChanges(connection.id, calendars.get(connection.id) ?? [])"
				/>
				<label [for]="calendar.calendarId" class="text-base text-black">{{ calendar.name }}</label>
			</div>
		</div>
		<div class="flex flex-row justify-between">
			<button class="mr-auto with-border" role="button" [ngSwitch]="connection.status" (click)="connect(connection.id)">
				<ng-container *ngSwitchCase="CONNECTION_STATUS.Inactive">
					Connect to Google Calendar
				</ng-container>
				<ng-container *ngSwitchCase="CONNECTION_STATUS.Active">Force reconnect</ng-container>
				<ng-container *ngSwitchCase="CONNECTION_STATUS.Expired">Reconnect</ng-container>
				<ng-container *ngSwitchDefault>Reconnect</ng-container>
			</button>
			<button role="button" class="danger" (click)="disconnect(connection.id)">
				Disconnect
			</button>
		</div>
	</div>
	<button class="!mr-auto !rounded-full flex-shrink-0 w-16 h-16 p-0" role="button" (click)="connect()">
		<svg-icon class="img !m-auto" src="/assets/icons/icon-plus.svg"></svg-icon>
	</button>
</div>
