<router-outlet></router-outlet>

<div @flyInOut *ngIf="toast" class="fixed text-base flex flex-row center-x bottom-16 bg-pink text-red p-12 py-4 rounded-xl drop-shadow-lg z-50" [class.green-background]="TOAST_TYPE.Success === toast.type" [class.yellow-background]="TOAST_TYPE.Warning === toast.type">
		<h4 class="flex flex-row text-lg font-bold" [ngSwitch]="toast.type">
			<ng-container *ngSwitchCase="TOAST_TYPE.Error">
				<svg-icon class="img w-5 mr-2 fill-current"
					  src="/assets/icons/icon-exit.svg"></svg-icon>
			</ng-container>
			<ng-container *ngSwitchCase="TOAST_TYPE.Warning">
				<span class="text-base mr-2">!</span>
			</ng-container>
			<ng-container *ngSwitchCase="TOAST_TYPE.Success">
				<svg-icon class="img w-5 mr-2 fill-current"
					  src="/assets/icons/icon-check.svg"></svg-icon>
			</ng-container>
		</h4>
		<span class="text-base">{{ toast.message }}</span>
</div>
