<router-outlet></router-outlet>

<div
	@flyInOut
	*ngIf="toast"
	class="
		fixed
		max-w-xl
		text-base
		flex flex-row
		center-x
		bottom-16
		bg-pink
		text-red
		p-12
		py-4
		rounded-xl
		drop-shadow-lg
		z-50
	"
	[class.green-background]="TOAST_TYPE.Success === toast.type"
	[class.yellow-background]="TOAST_TYPE.Warning === toast.type"
>
	<div class="flex flex-row text-lg font-bold my-auto" [ngSwitch]="toast.type">
		<div class="flex w-12 h-12 rounded-full border-2 mr-4">
			<ng-container *ngSwitchCase="TOAST_TYPE.Error">
				<svg-icon class="img w-5 fill-current m-auto" src="/assets/icons/icon-exit.svg"></svg-icon>
			</ng-container>
			<ng-container *ngSwitchCase="TOAST_TYPE.Warning">
				<span class="text-base m-auto">!</span>
			</ng-container>
			<ng-container *ngSwitchCase="TOAST_TYPE.Success">
				<svg-icon class="img w-5 fill-current m-auto" src="/assets/icons/icon-check.svg"></svg-icon>
			</ng-container>
		</div>
	</div>
	<span class="text-base my-auto">
		{{ toast.message }}
		<a *ngIf="toast.link" class="inline-block text-base my-auto" target="_blank" [href]="toast.link.link">
			{{ toast.link.title }}
		</a>
	</span>
	<button *ngIf="toast.dismissable" (click)="dismiss()" class="ml-4 tiny-button !w-10 !h-10 flex-shrink-0 my-auto !text-grey-dark">
		<svg-icon class="img !w-5 m-auto !text-grey-dark fill-current" src="/assets/icons/icon-exit.svg"></svg-icon>
	</button>
</div>
