<div class="w-screen h-screen">
	<div class="w-full h-1/2 bg-secondary"></div>
	<div class="w-full h-1/2 bg-grey-very-light"></div>

	<div
		class="
			absolute
			inset-center
			bg-white
			flex flex-col
			gap-16
			px-16
			py-24
			rounded-3xl
			overflow-y-auto
			max-h-[95vh]
			h-auto
			md:h-auto
			w-[90vw]
			md:w-auto
			shadow-lg
		"
	>
		<img class="img w-80 mx-auto" src="/assets/images/timeliness_logo.svg" alt="Timeliness Logo" />

		<div class="flex flex-col gap-16">
			<div class="flex flex-col gap-24 justify-center">
				<h1 class="mx-auto">Google Calendar connected!</h1>
				<svg-icon
					class="img mx-auto !w-32 !h-32 text-green-dark fill-current border-4 rounded-full p-6"
					src="/assets/icons/icon-check.svg"
				></svg-icon>
				
				<div class="flex flex-col gap-8">
					<span class="mx-auto text-center text-lg">
						You can now
						<span class="text-lg inline-block !text-purple">close this tab</span>
						<br />
						and return to your original tab/device
					</span>
					<span class="m-auto text-lg font-bold">or</span>
					<button class="large text-center !mx-auto" routerLink="/settings/calendars">Continue here</button>
				</div>
			</div>
		</div>
	</div>
</div>
