<div
	@inOut
	*ngIf="isOpen"
	class="absolute top-0 left-0 h-screen w-screen bg-grey-very-dark opacity-50 z-40"
	(click)="close()"
></div>
<div
	@flyInOut
	*ngIf="isOpen"
	class="inset-center !fixed bg-white rounded-2xl p-16 z-50 shadow-xl flex flex-col w-5/6 md:w-auto max-w-screen-sm"
>
	<div class="flex flex-col">
		<label class="label !pb-10">Reschedule work unit {{ workUnitIndex + 1 }}</label>
		<h2 class="truncate min-w-0 flex-shrink-0">
			<span class="h2 min-w-0 flex-shrink-0">Reschedule&nbsp;</span>
			<span class="h2 !text-purple min-w-0 flex-shrink-0">{{ task.name }}</span>
		</h2>
		<div class="flex flex-row flex-wrap mt-4 gap-2">
			<span class="text-grey-dark text-base">Original time:</span>
			<span class="sm-tag text-base grey-background px-8 py-4 my-auto rounded-full cursor-default">
				{{
					task.workUnits[workUnitIndex].scheduledAt.date.start.toDate().getCloseToTodayString() ??
						task.workUnits[workUnitIndex].scheduledAt.date.start.toDate().toLocaleDateString([], {
							weekday: 'short',
							month: 'short',
							day: '2-digit'
						})
				}}
				•
				{{
					task.workUnits[workUnitIndex].scheduledAt.date.start.toDate().toLocaleTimeString([], {
						hour: 'numeric',
						minute: 'numeric'
					})
				}}
				-
				{{
					task.workUnits[workUnitIndex].scheduledAt.date.end.toDate().toLocaleString([], {
						hour: 'numeric',
						minute: 'numeric'
					})
				}}
				|
				{{ task.workUnits[workUnitIndex].workload.toDuration(DURATION_UNIT.Nanoseconds).toString() }}
			</span>
		</div>
		<p class="text-grey-dark mt-1">Choose a time out of the options below that works for you.</p>
	</div>
	<div class="flex flex-col gap-8 mt-8">
		<ng-container *ngIf="!loading">
			<div
				*ngFor="let timespanGroup of timespanGroups"
				(click)="apply(timespanGroup)"
				class="flex flex-row group hover:cursor-pointer -ml-7"
			>
				<svg-icon
					class="
						flex-shrink-0
						text-grey-dark
						opacity-0
						group-hover:text-primary group-hover:opacity-100
						fill-current
						w-5
						transform
						-rotate-90
						mr-2
						transition-all
					"
					src="/assets/icons/icon-arrow-down.svg"
				></svg-icon>
				<div class="flex flex-row flex-wrap gap-4">
					<span
						*ngFor="let timespan of timespanGroup"
						class="sm-tag text-base grey-background px-8 py-4 rounded-full border border-grey-very-light group-hover:border-primary transition-all"
					>
						{{
							timespan.start.toDate().getCloseToTodayString() ??
								timespan.start.toDate().toLocaleDateString([], {
									weekday: 'short',
									month: 'short',
									day: '2-digit'
								})
						}}
						•
						{{
							timespan.start.toDate().toLocaleTimeString([], {
								hour: 'numeric',
								minute: 'numeric'
							})
						}}
						-
						{{
							timespan.end.toDate().toLocaleTimeString([], {
								hour: 'numeric',
								minute: 'numeric'
							})
						}}
						|
						{{ timespanToDuration(timespan) }}
					</span>
				</div>
			</div>
		</ng-container>
		<ng-container *ngIf="loading">
			<div *ngFor="let timespanGroup of [1, 2, 3, 4, 5]" class="flex flex-row group hover:cursor-default">
				<div class="flex flex-row flex-wrap gap-4">
					<span class="sm-tag text-base grey-background px-8 py-4 border border-grey-very-light rounded-full loading w-72">&nbsp;</span>
				</div>
			</div>
		</ng-container>
		<p *ngIf="noOptionsAvailable">
			It seems there is no time available for reschuling this work unit. Please change the tasks workload or move
			events in your calendar.
		</p>
	</div>
	<div class="flex flex-row gap-8 mt-16 justify-end">
		<button class="secondary" type="button" (click)="close()">Cancel</button>
		<button type="button" (click)="apply([])" [disabled]="noOptionsAvailable" title="Reschedules this work unit to a time chosen by Timeliness">
			I don't care, just not now
		</button>
	</div>
</div>
