<div class="grid widgets-large">
	<app-stats class="large-widget dark:!bg-primary dark:!text-white"
			   [class.loading]="loadingPlan">
		<ng-container *ngIf="!loadingPlan">
			<div class="left">
				<span class="info">Your plan today</span>
				<span class="title">
					<ng-container *ngIf="workUnitsToComplete > 0">
						{{ workUnitsCompleted }} out of {{ workUnitsToComplete }} do date{{workUnitsToComplete > 1 ? 's' : '' }} completed
					</ng-container>
					<ng-container *ngIf="workUnitsToComplete === 0">Nothing to do today. Have a nive day!</ng-container>
				</span>
			</div>
			<div class="progress">
				<app-circular-progress *ngIf="workUnitsToComplete > 0"
									   [progress]="(this.workUnitsCompleted / this.workUnitsToComplete) * 100"
									   [radius]="6.5">
				</app-circular-progress>
			</div>
		</ng-container>
		<ng-container *ngIf="loadingPlan">
			<div class="left">
				<span class="info loading-text loading">&nbsp;</span>
				<span class="title loading-text loading">&nbsp;</span>
			</div>
			<div class="progress">
				<app-circular-progress [loading]="true" [radius]="6.5"></app-circular-progress>
			</div>
		</ng-container>
	</app-stats>
</div>
<div class="grid widgets-small">
	<app-stats class="simple-widget dark:!bg-primary dark:!text-white">
		<span class="info">{{ tasksCompletedMonth }}</span>
		<span class="title">
			<svg-icon class="inline-block w-8 scale-150 mr-1 fill-current"
					  src="/assets/icons/icon-check-circle.svg"></svg-icon>
			Task{{tasksCompletedMonth != 1 ? 's' : '' }} completed this month
		</span>
	</app-stats>
	<app-stats class="simple-widget dark:!bg-primary dark:!text-white">
		<span class="info">{{ workUnitCompletedMonth }}</span>
		<span class="title">
			<svg-icon class="img fill-current"
					  src="/assets/icons/icon-check-multiple.svg"></svg-icon>
			Work unit{{workUnitCompletedMonth != 1 ? 's' : '' }} completed this month
		</span>
	</app-stats>
</div>