<div
	@toastAnimation
	*ngIf="isOpen"
	class="
		fixed
		w-full
		md:w-auto
		max-w-2xl
		md:max-w-3xl
		text-base
		flex flex-row
		center-x
		bottom-[11rem]
		md:bottom-[3vh]
		bg-grey-very-light
		text-grey-dark
		px-8
		py-4
		rounded-2xl
		drop-shadow-lg
		z-50
		transition-all
	"
	[class.green-background]="TOAST_TYPE.Success === toast.type && !isLoading"
	[class.yellow-background]="TOAST_TYPE.Warning === toast.type && !isLoading"
	[ngClass]="{'text-red bg-pink': TOAST_TYPE.Error === toast.type && !isLoading}"
>
	<div *ngIf="!isLoading" class="flex flex-row text-lg font-bold my-auto" [ngSwitch]="toast.type">
		<div class="flex w-12 h-12 rounded-full border mr-4">
			<ng-container *ngSwitchCase="TOAST_TYPE.Error">
				<svg-icon class="img w-8 scale-125 fill-current m-auto" src="/assets/icons/icon-exit.svg"></svg-icon>
			</ng-container>
			<ng-container *ngSwitchCase="TOAST_TYPE.Warning">
				<span class="text-base m-auto">❗️</span>
			</ng-container>
			<ng-container *ngSwitchCase="TOAST_TYPE.Success">
				<svg-icon class="img w-5 fill-current m-auto" src="/assets/icons/icon-check.svg"></svg-icon>
			</ng-container>
		</div>
	</div>
	<div *ngIf="isLoading" class="flex flex-row gap-4 text-lg font-bold my-auto">
		<svg class="h-12 w-12 fill-current animate-spin-slow" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M12 4.75V6.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M17.1266 6.87347L16.0659 7.93413" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M19.25 12L17.75 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M17.1266 17.1265L16.0659 16.0659" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M12 17.75V19.25" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M7.9342 16.0659L6.87354 17.1265" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M6.25 12L4.75 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
			<path d="M7.9342 7.93413L6.87354 6.87347" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
		<span *ngIf="!toast.loadingText" class="my-auto">Loading...</span>
		<span *ngIf="toast.loadingText" class="my-auto">{{ toast.loadingText }}</span>
	</div>
	<span *ngIf="!isLoading" class="inline-block text-base my-auto">
		<span class="inline">{{ toast.message }}</span>
		<a *ngIf="toast.link" class="inline text-base my-auto" target="_blank" [href]="toast.link.link">
			{{ toast.link.title }}
		</a>
		<button *ngIf="toast.trackId" class="!bg-red !text-white !text-xs !inline-flex flex-nowrap !px-2 !py-1 !ml-3" (click)="copyToClipboard(toast.trackId)">
			<svg-icon class="block w-8 fill-current" src="/assets/icons/icon-clipboard.svg"></svg-icon>
			<span class="my-auto">Copy error code</span>
		</button>
	</span>
	<button
		*ngIf="toast.dismissible && !isLoading"
		(click)="dismiss()"
		class="!ml-4 tiny-button !w-10 !h-10 flex-shrink-0 my-auto !text-grey-dark"
	>
		<svg-icon class="img !w-8 scale-125 m-auto !text-white fill-current" src="/assets/icons/icon-exit.svg"></svg-icon>
	</button>
</div>
