<div
	@inOut
	*ngIf="isOpen"
	class="fixed top-0 left-0 h-screen w-screen bg-grey-very-dark opacity-50 z-40"
	(click)="close()"
></div>
<div
	@flyInOut
	*ngIf="isOpen"
	class="inset-center !fixed bg-white rounded-2xl p-16 z-50 shadow-xl flex flex-col w-5/6 md:w-auto max-w-6xl"
>
	<div>
		<label class="label !pb-10">Confirmation</label>
		<h2>
			{{ title }}
		</h2>
		<p class="text-grey-dark" *ngIf="message">{{ message }}</p>
	</div>
	<div class="flex flex-row gap-8 mt-16 justify-end">
		<button class="secondary" type="button" (click)="apply(false)">Cancel</button>
		<button *ngIf="!confirmationModalOptions" type="button" (click)="apply(true)">Confirm</button>
		<button *ngFor="let option of confirmationModalOptions" type="button" (click)="apply(true, option.key)">{{ option.label }}</button>
	</div>
</div>
