<div *ngIf="!loading" class="work-unit-upcoming" [ngClass]="getColorClass(tag ? tag.color: '', 'calendar')" routerLinkActive="active">
	<a class="calendar-date m-auto" [routerLink]="['task', task.id]" [queryParams]="{ workUnit: task.workUnit.id}">
		<span class="day">{{ task.workUnit.scheduledAt.date.start.toDate().getDate() }}</span>
		<span class="weekday">
			{{ task.workUnit.scheduledAt.date.start.toDate().toLocaleString('default', { weekday: 'short' }) }}
		</span>
	</a>
	<div class="contents">
		<div class="work-unit-info">
			<a
				class="task-title truncate-text text-underline text-black"
				title="{{ task.name }}"
				[routerLink]="['task', task.id]" [queryParams]="{ workUnit: task.workUnit.id}"
			>
				{{ task.name }}
			</a>
			<span class="flex flex-row flex-wrap subtitle gap-2">
				<div class="sm-tag grey-background">
					{{
						task.workUnit.scheduledAt.date.start.toDate().toLocaleTimeString([], {
							hour: '2-digit',
							minute: '2-digit'
						})
					}}
					-
					{{
						task.workUnit.scheduledAt.date.end.toDate().toLocaleTimeString([], {
							hour: '2-digit',
							minute: '2-digit'
						})
					}}
				</div>

				<div class="sm-tag grey-background">
					{{ task.workUnit.workload.toDuration(1).toString() }}
				</div>

				<div class="sm-tag grey-background">
					Unit {{ task.workUnitsIndex + 1 }}/{{task.workUnitsCount}}
				</div>
				<div class="sm-tag" *ngFor="let tag of tags" [ngClass]="getColorClass(tag ? tag.color: '', 'background')">#{{ tag.value }}</div>
				
			</span>
		</div>
	</div>
</div>
<div *ngIf="loading" class="work-unit-upcoming loading">
	<div class="calendar-date">
		<span class="day"></span>
		<span class="weekday"></span>
	</div>
	<div class="contents">
		<div class="work-unit-info">
			<div class="task-title truncate-text loading-component">&nbsp;</div>
			<span class="subtitle loading-component">&nbsp;</span>
		</div>
		<div class="actions">
		</div>
	</div>
</div>
