<div class="work-unit-upcoming" routerLinkActive="active">
	<div class="calendar-date">
		<span class="day">{{ task.workUnit.scheduledAt.date.start.toDate().getDate() }}</span>
		<span class="weekday">{{
			task.workUnit.scheduledAt.date.start.toDate().toLocaleString('default', { weekday: 'short' })
		}}</span>
	</div>
	<div class="contents">
		<div class="work-unit-info">
			<a class="task-title truncate-text text-underline" title="{{ task.name }}" [routerLink]="[{ outlets: { modal: ['task', task.id] } }]">{{ task.name }}</a>
			<span class="subtitle"
				>{{
					task.workUnit.scheduledAt.date.start.toDate().toLocaleTimeString([], {
						hour: '2-digit',
						minute: '2-digit'
					})
				}}
				-
				{{
					task.workUnit.scheduledAt.date.end.toDate().toLocaleTimeString([], {
						hour: '2-digit',
						minute: '2-digit'
					})
				}}
				• {{ task.workUnit.workload.toDuration(1).toString() }} • Unit {{ task.workUnitsIndex + 1 }}/{{
					task.workUnitsCount
				}}</span
			>
		</div>
		<div class="actions">
			<a class="btn tiny-button">
				<div class="img" [inlineSVG]="'/assets/icons/icon-time.svg'"></div>
			</a>
			<a class="btn tiny-button" [routerLink]="[{ outlets: { modal: ['task', task.id] } }]"
				>
				<div class="img" [inlineSVG]="'/assets/icons/icon-edit.svg'"></div>
			</a>
		</div>
	</div>
</div>
