<div class="work-unit-upcoming" routerLinkActive="active">
	<a class="calendar-date" [routerLink]="[{ outlets: { modal: ['task', task.id] } }]">
		<span class="day">{{ task.workUnit.scheduledAt.date.start.toDate().getDate() }}</span>
		<span class="weekday">
			{{ task.workUnit.scheduledAt.date.start.toDate().toLocaleString('default', { weekday: 'short' }) }}
		</span>
	</a>
	<div class="contents">
		<div class="work-unit-info">
			<a
				class="task-title truncate-text text-underline"
				title="{{ task.name }}"
				[routerLink]="[{ outlets: { modal: ['task', task.id] } }]"
			>
				{{ task.name }}
			</a>
			<span class="subtitle">
				{{
					task.workUnit.scheduledAt.date.start.toDate().toLocaleTimeString([], {
						hour: '2-digit',
						minute: '2-digit'
					})
				}}
				-
				{{
					task.workUnit.scheduledAt.date.end.toDate().toLocaleTimeString([], {
						hour: '2-digit',
						minute: '2-digit'
					})
				}}
				• {{ task.workUnit.workload.toDuration(1).toString() }} • Unit {{ task.workUnitsIndex + 1 }}/{{
					task.workUnitsCount
				}}
			</span>
		</div>
		<div class="actions">
			<a class="btn tiny-button">
				<svg-icon class="img" src="/assets/icons/icon-time.svg"></svg-icon>
			</a>
			<a class="btn tiny-button" [routerLink]="[{ outlets: { modal: ['task', task.id] } }]">
				<svg-icon class="img" src="/assets/icons/icon-edit.svg"></svg-icon>
			</a>
		</div>
	</div>
</div>
