@import '../../../../variables.scss';
.work-unit-upcoming {
    display: flex;
    flex-flow: row;
    margin: 1rem 0;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 0.2s ease-in-out;
    border-radius: 1rem;
    cursor: default;

    &:hover {
        padding: 1rem;
        margin-left: 0.1rem;
        margin-right: 1rem;
        background-color: $color-light-grey;

        .contents .actions {
            opacity: 1;
        }

        .calendar-date {
            background-color: $color-primary;
            color: $color-white;
        }
    }

    .calendar-date {
        display: flex;
        justify-content: center;
        flex-flow: column;
        user-select: none;
        margin-right: 3rem;

        color: $color-primary;
        border: 0.1rem solid $color-primary;
        border-radius: 1rem;
        height: 6.2rem;
        width: 6.2rem;
        text-align: center;
        transition: all 0.2s ease-in;

        .day {
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 1;
        }

        .month {
            font-size: 1.4rem;
        }
    }

    .contents {
        flex: 1;
        margin: auto 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .work-unit-info {
            margin: auto 0;
            flex: 1;

            .task-title {
                font-size: 2rem;
                font-weight: 500;
            }
        }

        .actions {
            display: flex;
            flex-direction: row;
            opacity: 0;
            transition: all 0.2s ease-in;
            margin: auto 0;

            .tiny-button {
                margin-left: 1rem;
            }
        }
    }
}
