<div class="work-unit-upcoming">
	<div class="calendar-date">
		<span class="day">{{task.workUnit.scheduledAt.date.start.toDate().getDate()}}</span>
		<span class="month">{{
			task.workUnit.scheduledAt.date.start.toDate().toLocaleString('default', { month: 'short' })
		}}</span>
	</div>
	<div class="contents">
		<div class="work-unit-info">
			<span class="task-title truncate-text" title="{{ task.name }}">{{ task.name }}</span>
			<span class="subtitle">{{
						task.workUnit.scheduledAt.date.start.toDate().toLocaleTimeString([], {
							hour: '2-digit',
							minute: '2-digit'
						})
					}}
					-
					{{
						task.workUnit.scheduledAt.date.end.toDate().toLocaleTimeString([], {
							hour: '2-digit',
							minute: '2-digit'
						})
					}} • {{task.workUnit.workload.toDuration(1).toString()}} • Unit {{ task.workUnitsIndex + 1 }}/{{ task.workUnitsCount }}</span>
		</div>
		<div class="actions">
			<a class="btn tiny-button"><img src="/assets/icons/icon-time.svg" alt="Reschedule task" /></a>
			<a class="btn tiny-button" [routerLink]="[{ outlets: { modal: ['task', task.id] } }]"
				><img src="/assets/icons/icon-edit.svg" alt="Edit task"
			/></a>
		</div>
	</div>
</div>
