<div *ngIf="!loading" class="deadline" [class.done]="task.workUnits[task.workUnitIndex].isDone" routerLinkActive="active">
	<div class="time dark:text-white">
		<span class="text-xl">
			{{
				task.date.date.start.toDate().toLocaleTimeString([], {
					hour: '2-digit',
					minute: '2-digit'
				})
			}}
		</span>
		<span class="text-sm">
			{{
				task.date.date.end.toDate().toLocaleTimeString([], {
					hour: '2-digit',
					minute: '2-digit'
				})
			}}
		</span>
	</div>
	<div class="w-4 h-4 my-auto mx-7 rounded-full" [ngClass]="getColorClass(tag ? tag.color: '', 'background')"></div>
	<div class="deadline-info">
		<a
			class="deadline-name truncate-text text-underline text-black"
			[tooltip]="task.name"
			[delay]="1.5"
			[routerLink]="['task', task.id]" [queryParams]="{ workUnit: task.workUnits[task.workUnitIndex].id}"
		>
			{{ task.name }}
		</a>
		<span class="flex flex-row gap-2 flex-wrap">
			<div class="sm-tag grey-background">
				{{
					task.date.date.start.toDate().toLocaleTimeString([], {
						hour: '2-digit',
						minute: '2-digit'
					})
				}}
				-
				{{
					task.date.date.end.toDate().toLocaleTimeString([], {
						hour: '2-digit',
						minute: '2-digit'
					})
				}}
			</div>

			<div class="sm-tag grey-background">
				{{ task.workUnits[task.workUnitIndex].workload.toDuration(1).toString() }}
			</div>

			<div class="sm-tag grey-background">
				Unit {{ task.workUnitIndex + 1 }}/{{task.workUnits.length}}
			</div>

			<span class="sm-tag" [ngClass]="getColorClass(tag ? tag.color: '', 'background')" *ngFor="let tag of tags">
				#{{ tag.value }}
			</span>
		</span>
	</div>
</div>
<div *ngIf="loading" class="deadline loading">
	<div class="time loading-component">
		<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
	</div>
	<div class="deadline-spacer loading-component"></div>
	<div class="deadline-info">
		<div class="deadline-name truncate-text loading-component">&nbsp;</div>
		<span class="subtitle loading-component">&nbsp;</span>
	</div>
</div>
