@import url('https://use.typekit.net/gsz0xik.css');
@import './variables.scss';

html {
    font-size: 10px;

    @media only screen and (max-width: 1920px) {
        font-size: 9px;
    }
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
span,
ul,
ol,
li,
a {
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

span, p {
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: $color-black;
}

button {
    background: $color-primary;
    border: 1px solid $color-white;
    box-sizing: border-box;
    border-radius: 0.5rem;
    color: $color-white;
    font-size: 1.2rem;
    padding: 0.6rem 1.4rem;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.1s;

    img {
        display: inline-block;
        width: 1rem;
        margin-right: 0.5rem;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: $color-primary-dark;
    }

    &.large {
        font-size: 1.6rem;

        img {
            width: 1.2rem;
        }
    }
}

.tiny-button {
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    border-radius: 3rem;
    background-color: $color-primary;
    padding: 0;
    user-select: none;

    img {
        display: flex;
        width: 1.4rem;
        height: 1.4rem;
        margin: auto;
    }

    &.with-border {
        border: 1px solid $color-white
    }

    &.smaller {
        width: 2.8rem;
        height: 2.8rem;
    }
}

::-moz-progress-bar {
    background-color: $color-cyan;
    border-radius: 2.5rem;
}

::-webkit-progress-bar, progress {
    -webkit-appearance: none;
    appearance: none;
    background-color: $color-primary-dark;
    color: $color-cyan;
    border-radius: 2.5rem;
    height: 0.5rem;
    border: none;
    width: 100%;

    &::before {
        content: '80%';
        position: absolute;
        right: 0;
        top: -125%;
    }
}

::-webkit-progress-value {
    background-color: $color-cyan;
    border-radius: 2.5rem;
}

.scroller {
    scrollbar-color: $color-primary-dark $color-light-grey;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 4px;
        height: 6px;
        background-color: $color-light-grey;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-primary;
        border-radius: 10px;
    }

    &.inverse {
        scrollbar-color: $color-light-grey $color-primary-dark;

        &::-webkit-scrollbar {
            background-color: $color-primary-dark;
        }
    
        &::-webkit-scrollbar-thumb {
            background: $color-light-grey;
        }
    }
}

.subtitle {
    font-size: 1.4rem;
    color: grey;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

