@import url('https://use.typekit.net/gsz0xik.css');
@import './variables.scss';

html {
	font-size: 10px;

	@media only screen and (max-width: 1920px) {
		font-size: 9px;
	}
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
span,
ul,
ol,
li,
a,
label,
textarea,
input {
	margin: 0;
	padding: 0;
	display: block;
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

body {
	overflow-y: hidden;
}

svg {
	display: block;
	width: auto;
	height: auto;
}

textarea {
	resize: none;
	margin: 0;
}

span,
p {
	font-size: 1.4rem;
	padding: 0;
	margin: 0;
}

img {
	display: block;
}

h1,
.h1 {
	font-size: 3.2rem;
}

h2,
.h2 {
	font-size: 2.8rem;
}

h3,
.h3 {
	font-size: 2.4rem;
	font-weight: 500;
}

a {
	text-decoration: none;
	color: $color-black;
}

input[type='text'],
input[type='datetime-local'],
input[type='time'],
textarea,
input {
	padding: 0.7rem 1rem;
	border: none;
	outline: none;
	border-radius: 0.5rem;

	&.edit {
		transition: background-color 0.2s ease-in-out;
		&:hover,
		&:focus {
			background-color: $color-light-grey;
		}
	}
}

button,
a.btn {
	background: $color-primary;
	border: none;
	box-sizing: border-box;
	border-radius: 0.5rem;
	color: $color-white;
	padding: 0.8rem 1.4rem;
	cursor: pointer;
	user-select: none;
	transition: background-color 0.2s;
	font-size: 1.6rem;
	line-height: 1;

	span {
		display: inline-block;
	}

	.img {
		fill: $color-white;
		display: inline-block;
		width: 1.4rem;
		margin-right: 0.5rem;
	}

	&.icon-only {
		.img {
			margin: 0;
		}
	}

	&:focus {
		outline: none;
	}

	&.large {
		font-size: 1.8rem;
		padding: 1rem 2rem;
		border: none;

		.img {
			width: 1.4rem;
		}
	}

	&.filter {
		border-radius: 3.5rem;
		padding: 1.5rem 2.5rem;
		font-size: 1.6rem;
		background-color: $color-light-grey;
		color: $color-black;

		&:hover {
			color: $color-white;
		}

		&.active {
			background-color: $color-primary;
			color: $color-white;
			cursor: default;
		}
	}

	&.tiny-button {
		display: flex;
		width: 3.5rem;
		height: 3.5rem;
		text-align: center;
		border-radius: 3rem;
		background-color: $color-primary;
		padding: 0;
		user-select: none;

		.img {
			display: flex;
			width: 1.4rem;
			height: 1.4rem;
			margin: auto;
		}

		&.smaller {
			width: 2.8rem;
			height: 2.8rem;
		}

		&.no-background {
			background: transparent;
			transition: background-color 0.2s ease-in-out;

			&:hover:not(:disabled) {
				background-color: $color-light-grey;
			}

			.img {
				fill: $color-black;
				width: 2.5rem;
				height: 2.5rem;
			}
		}
	}

	&.with-border {
		border: 1px solid $color-white;
	}

	&:hover {
		background-color: $color-primary-light;
	}

	&:disabled,
	&[disabled] {
		background-color: $color-light-grey;
		color: $color-tertiary;
		cursor: default;

		.img, &.no-background .img {
			fill: $color-tertiary;
		}
	}
}

::-moz-progress-bar {
	background-color: $color-cyan;
	border-radius: 2.5rem;
}

::-webkit-progress-bar,
progress {
	-webkit-appearance: none;
	appearance: none;
	background-color: $color-primary-dark;
	color: $color-cyan;
	border-radius: 2.5rem;
	height: 0.6rem;
	border: none;
	width: 100%;
	vertical-align: middle;
}

::-webkit-progress-value {
	background-color: $color-cyan;
	border-radius: 2.5rem;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 1rem;
	border-radius: 2.5rem;
	background: #d3d3d3;
	outline: none;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background: $color-primary;
	cursor: pointer;
	transition: all 0.1s;

	&:hover {
		background-color: $color-primary-light;
	}
}

.slider::-moz-range-thumb {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background: $color-primary;
	cursor: pointer;
	transition: all 0.1s;

	&:hover {
		background-color: $color-primary-light;
	}
}

.scroller {
	scrollbar-color: $color-tertiary $color-light-grey;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: 4px;
		height: 6px;
		background-color: $color-light-grey;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background: $color-tertiary;
		border-radius: 10px;
	}

	&.inverse {
		scrollbar-color: $color-tertiary $color-primary-dark;
		&::-webkit-scrollbar {
			background-color: $color-primary-dark;
		}

		&::-webkit-scrollbar-thumb {
			background: $color-tertiary;
		}
	}
}

.subtitle {
	font-size: 1.4rem;
	color: grey;
}

.truncate-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
