/* You can add global styles to this file, and also import other style files */

$color-primary: #22125a;
$color-primary-dark: #140939;
$color-primary-light: #2e1979;
$color-tertiary: #8d99ae;
$color-light-grey: #f4f4f4;

$color-black: #040f0f;
$color-white: #fff;

$color-cyan: #84ffff;

$color-red: #ef233c;
$color-yellow: #ffe66d;
$color-green: #62c370;
