/* You can add global styles to this file, and also import other style files */

$color-primary: #22125A;
$color-primary-dark: #140939;
$color-light-grey: #F4F4F4;

$color-black: #040F0F;
$color-white: #fff;

$color-cyan: #84FFFF;

$color-red: #EF233C;
$color-yellow: #FFE66D;
$color-green: #62C370;