/* You can add global styles to this file, and also import other style files */

$color-primary: #22125a;
$color-primary-light: #2f2066;
$color-primary-pastelle: #dbe2ff;
$color-primary-pastelle-light: #e6ebff;
$color-tertiary: #8d99ae;
$color-light-grey: #f4f4f4;

$color-black: #040f0f;
$color-white: #fff;
$color-very-light-grey: #F5F7FB;

$color-pastelle-yellow: #fef6e1;
$color-pastelle-yellow-dark: #d39700;

$color-cyan: #84ffff;

$color-red: #ef233c;
$color-yellow: #ffe66d;
$color-green: #62c370;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
