@import '../../variables.scss';

.core-container {
	display: grid;
	grid-template-columns: minmax(250px, 15%) 1fr;

	nav.sidebar {
		height: 100vh;
		text-align: center;
		background-color: $color-very-light-grey;
		display: flex;
		justify-content: space-between;
		flex-flow: column;

		h1 {
			padding-top: 2rem;
		}

		.child {
			padding: 4rem 0;
		}

		ul {
			li a {
				padding: 2rem 2rem;
				padding-left: 25%;
				text-align: start;
				display: flex;
				transition: background-color 0.2s ease-out;
				border-left: 0.5rem solid transparent;
				border-right: 0.5rem solid transparent;

				.img {
					display: block;
					width: 2.8rem;
					margin-right: 1rem;
				}

				span {
					text-align: left;
					font-size: 2rem;
					display: flex;
				}

				&.active {
					&:hover {
						cursor: default;
						text-decoration: none;
						color: $color-primary;
					}

					border-right: 0.5rem solid $color-primary;
					color: $color-primary;

					svg {
						fill: $color-primary;
					}
				}
			}
		}
	}
}
