<div class="core-container">
	<nav class="sidebar drop-shadow-xl md:drop-shadow-none">
		<div class="child logo-container">
			<h1>
				<img class="img logo-small" src="/assets/images/timeliness_logo_small.svg" loading="eager">
			</h1>
		</div>
		<div *ngIf="user" class="child user">
			<div class="profile-picture">
				<span>{{ user.firstname[0] }}{{ user.lastname[0] }}</span>
			</div>
		</div>
		<div *ngIf="!user" class="child user">
			<div class="profile-picture loading">
				<span>&nbsp;&nbsp;</span>
			</div>
		</div>
		<div class="middle child">
			<ul>
				<li>
					<a class="text-underline" routerLink="/dashboard" routerLinkActive="active" title="Dashboard">
						<svg-icon class="img" src="/assets/icons/icon-dashboard.svg"></svg-icon>
					</a>
				</li>
				<li>
					<a class="text-underline" routerLink="/agenda" routerLinkActive="active" title="Agenda">
						<svg-icon class="img" src="/assets/icons/icon-agenda.svg"></svg-icon>
					</a>
				</li>
				<li>
					<a class="text-underline" routerLink="/contacts" routerLinkActive="active" title="Contacts">
						<svg-icon class="img" src="/assets/icons/icon-users.svg"></svg-icon>
					</a>
				</li>
				<li>
					<a class="text-underline" routerLink="/settings" routerLinkActive="active" title="Settings">
						<svg-icon class="img" src="/assets/icons/icon-settings.svg"></svg-icon>
					</a>
				</li>
			</ul>
		</div>
		<div class="child bottom hidden md:block">
			<a class="text-underline" (click)="logout()">
				<svg-icon class="img" src="/assets/icons/icon-logout.svg" title="Log out"></svg-icon>
			</a>
		</div>
	</nav>
	<div class="content">
		<router-outlet></router-outlet>
	</div>
</div>