<div class="core-container">
	<nav class="sidebar">
		<h1>Timeliness</h1>
		<ul>
			<li>
				<a class="text-underline" routerLink="/dashboard" routerLinkActive="active">
					<div class="img" [inlineSVG]="'/assets/icons/icon-dashboard.svg'"></div>
					Dashboard
				</a>
			</li>
			<li>
				<a class="text-underline" routerLink="/settings" routerLinkActive="active">
					<div class="img" [inlineSVG]="'/assets/icons/icon-settings.svg'"></div>
					Settings
				</a>
			</li>
		</ul>
	</nav>
	<div class="content">
		<router-outlet></router-outlet>
	</div>
</div>
