<div class="wrapper container mx-auto flex flex-col h-full">
	<h2 class="mb-16">Settings</h2>
	<div class="flex flex-col md:flex-row h-full">
		<ul class="flex flex-row md:flex-col text-lg">
			<li>
				<a class="pl-8 pr-32 py-8 rounded-l-xl text-primary font-bold text-lg transition-all hover:no-underline" routerLink="/settings/general" [routerLinkActive]="['bg-grey-very-light', 'hover:cursor-default']">
					General
				</a>
			</li>
			<li>
				<a class="pl-8 pr-32 py-8 rounded-l-xl text-primary font-bold text-lg transition-all hover:no-underline" routerLink="/settings/calendars" [routerLinkActive]="['bg-grey-very-light', 'hover:cursor-default']">
					Calendars
				</a>
			</li>
		</ul>
		<div class="w-full h-full bg-grey-very-light py-8 px-16 pb-0 overflow-y-auto rounded-tr-xl gap-24">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
