<div class="work-unit" [class.no-description]="task.description === ''">
	<div class="card-header">
		<h3 class="truncate-text">{{ task.name }}</h3>
		<a class="btn tiny-button with-border smaller" [routerLink]="[{ outlets: { modal: ['task', task.id] } }]"
			><img src="/assets/icons/icon-edit.svg" alt="Edit task"
		/></a>
	</div>
	<div class="card-sections">
		<div class="card-section infos">
			<span>Unit {{ task.workUnitsIndex + 1 }}/{{ task.workUnitsCount }}</span>
			<div class="info-segment">
				<div
					*ngIf="
						task.workUnit.scheduledAt.date.start.getDate() === today.getDate();
						then todayThen;
						else todayElse
					"
				></div>
				<ng-template #todayThen><span>Today</span></ng-template>
				<ng-template #todayElse
					><span>{{ task.workUnit.scheduledAt.date.start.toLocaleString() }}</span></ng-template
				>
				<span
					>{{ task.workUnit.workload.toDuration(1).toString() }} •
					{{
						task.workUnit.scheduledAt.date.start.toLocaleTimeString([], {
							hour: '2-digit',
							minute: '2-digit'
						})
					}}
					-
					{{
						task.workUnit.scheduledAt.date.end.toLocaleTimeString([], {
							hour: '2-digit',
							minute: '2-digit'
						})
					}}</span
				>
			</div>
			<div class="info-segment">
				<span>Progress</span>
				<progress max="100" value="{{getProgress(task)}}">{{getProgress(task)}}%</progress>
			</div>
		</div>
		<div *ngIf="task.description" class="card-section description scroller inverse">
			{{ task.description }}
		</div>
	</div>
	<div class="card-footer">
		<button><img src="/assets/icons/icon-time.svg" />Reschedule</button>
		<button><img src="/assets/icons/icon-check.svg" />Done</button>
	</div>
</div>
