@import '../../../../variables.scss';

.work-unit {
    display: flex;
    flex-flow: column;
    height: 28rem;
    width: 56rem;
    background: linear-gradient(45deg, #22125a 0%, #2b3481 100%);

    border-radius: 1rem;
    padding: 2rem;
    color: $color-white;
    font-size: 1.6rem;

    span {
        font-size: 1.6rem;
    }

    &.done {
        background: $color-light-grey;
        color: $color-black;
    }

    &.no-description {
        width: 28rem;
    }

    .card-header {
        display: flex;
        flex-flow: row;
        justify-content: space-between;

        h3 {
            flex: 1;
            padding-right: 2rem;
        }
    }

    .card-sections {
        display: flex;
        flex: 1;
        flex-direction: row;

        .card-section {
            flex: 1;
            height: 100%;

            &.description {
                margin: 1rem 0rem 0 1rem;
                padding-right: 1rem;
                font-size: 1.6rem;
                overflow-y: auto;

                height: 11.8rem;
                line-height: 1.5;
            }

            .info-segment {
                &.red {
                    color: $color-red;
                }
            }
        }
    }

    .infos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 1rem;
    }

    .card-footer {
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        padding-top: 1.5rem;

        a {
            margin-left: 1rem;
        }
    }
}
