<div class="work-unit" [class.no-description]="task.description === ''" [class.done]="task.workUnit.isDone">
	<div class="card-header">
		<h3 class="truncate-text">{{ task.name }}</h3>
		<a class="btn tiny-button with-border" [routerLink]="[{ outlets: { modal: ['task', task.id] } }]">
			<div class="img" [inlineSVG]="'/assets/icons/icon-edit.svg'"></div>
		</a>
	</div>
	<div class="card-sections">
		<div class="card-section infos">
			<span>Unit {{ task.workUnitsIndex + 1 }}/{{ task.workUnitsCount }}</span>
			<div
				class="info-segment"
				[class.red]="task.workUnit.scheduledAt.date.end.toDate() <= today && !task.workUnit.isDone"
			>
				<div
					*ngIf="
						task.workUnit.scheduledAt.date.start.toDate().getDate() === today.getDate();
						then todayThen;
						else todayElse
					"
				></div>
				<ng-template #todayThen><span>Today</span></ng-template>
				<ng-template #todayElse>
					<span>{{ task.workUnit.scheduledAt.date.start.toDate().toLocaleDateString() }}</span>
				</ng-template>
				<span
					>{{ task.workUnit.workload.toDuration(1).toString() }} •
					{{
						task.workUnit.scheduledAt.date.start.toDate().toLocaleTimeString([], {
							hour: '2-digit',
							minute: '2-digit'
						})
					}}
					-
					{{
						task.workUnit.scheduledAt.date.end.toDate().toLocaleTimeString([], {
							hour: '2-digit',
							minute: '2-digit'
						})
					}}</span
				>
			</div>
			<div class="info-segment">
				<span>Progress</span>
				<div class="progress-container">
					<progress max="100" value="{{ getProgress(task) }}">{{ getProgress(task) }}%</progress>
				</div>
			</div>
		</div>
		<div *ngIf="task.description" class="card-section description scroller inverse">
			{{ task.description }}
		</div>
	</div>
	<div class="card-footer">
		<a class="btn with-border" *ngIf="!task.workUnit.isDone">
			<div class="img" [inlineSVG]="'/assets/icons/icon-time.svg'"></div>Reschedule
		</a>
		<a class="btn with-border" [class.icon-only]="task.workUnit.isDone">
			<div class="img" [inlineSVG]="'/assets/icons/icon-check.svg'"></div>
			<span *ngIf="!task.workUnit.isDone">Done</span></a>
	</div>
</div>
