@import '../../../../variables.scss';

.work-unit {
	display: flex;
	flex-flow: column;
	height: 28rem;
	width: 56rem;
	background-color: $color-primary-pastelle;

	border-radius: 1.5rem;
	padding: 2rem;
	color: $color-primary;
	font-size: 1.6rem;

	span {
		font-size: 1.6rem;
	}

	.card-header {
		display: flex;
		flex-flow: row;
		justify-content: space-between;

		.header-link {
			width: auto;
			display: contents;
			text-decoration: none;
		}

		h3 {
			color: $color-primary;
			flex: 1;
			padding-right: 1rem;
			font-weight: bold;
		}
	}

	.card-sections {
		display: flex;
		flex: 1;
		flex-direction: row;

		.card-section {
			flex: 1;
			height: 100%;

			&.description {
				margin: 1rem 0rem 0 1rem;
				padding-right: 1rem;
				font-size: 1.6rem;
				overflow-y: auto;

				height: 14rem;
				line-height: 1.4;
				white-space: pre-line;
			}

			.info-segment {
				.labels {
					display: flex;
					flex-flow: row;
					justify-content: space-between;
				}

				&.red {
					color: $color-red;
				}
			}
		}
	}

	.infos {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.card-footer {
		display: flex;
		flex-flow: row;
		justify-content: flex-end;
		padding-top: 1.5rem;

		.btn {
			background-color: transparent;
			color: $color-primary;
			border-color: $color-primary;

			.img {
				fill: $color-primary;
			}

			&.icon-only {
				padding: 1.2rem;
				border-radius: 2.5rem;
			}

			margin-left: 1rem;
		}
	}

	&.no-description {
		width: 28rem;
	}

	&.small {
		width: 30rem;
		height: 25rem;

		h3 {
			font-size: 2rem;
		}
	}

	&.done {
		background: $color-light-grey;
		color: $color-black;

		h3 {
			color: $color-black;
		}
	}

	&.loading {
		.card-header {
			width: 75%;
		}

		.info-segment {
			span {
				margin: 1rem 0;
				width: 33%;
			}
		}

		.loading-component {
			background-color: $color-light-grey;
			border-radius: 1.5rem;

			&.btn {
				background-color: $color-light-grey;
				width: 10rem;
				padding: 0.8rem 1.4rem;
				border: none;
			}

			&.progress-container {
				margin-top: 2rem;
				width: 100%;
				height: 1rem;
			}
		}
	}
}
